@import '~app/vars';

:host{
  color: white;
}

:host /deep/ {
  app-search-bar{
    display: flex;
    align-items: center;
    form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    md-select{
      margin: 0 .25em;
    }

    md-input-container.id-field{
      width: 7em;
    }

    .search-button{
      margin-bottom: 1em;
      margin-right: 1em;
    }

    time{
      display: inline-block;
    }

    button.sb{
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      border: 1px solid transparent;
      padding: 0.25em .5rem;
      font-size: 1rem;
      margin: 0;
      border-radius: 0.25rem
    }
  }

  app-main-content{
    flex-direction: column;
    align-items: center;
  }

  table{
    line-height: 1em;
    background-color: #D3D3D3;
    color: #333;
    border-radius: .5em;
    overflow: hidden;

    table{
      background-color: rgba(white, .5);
    }

    tr:nth-child(even){
      background-color: rgba(100,100,100,.2);
    }

    th{
      border: thin solid white;
      padding-left: 2px;
      padding-right: 2px;
      background-color: #EEE;
    }
    td{
      border: thin solid white;

      &.no-border{
        border: none;
      }

      table{
        width: 100%;
        font-size: .9em;
      }
    }
  }
}
