@import "~src/vars";

:host{
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  flex-direction: row;
  background-color: $mainContentBackgroundColor;
  margin: 5px;
  min-height: 170px;
  overflow-y: visible;
  overflow-x: hidden;
  border-radius: 4px;
  justify-content: space-around;
  align-content: flex-start;
  padding: 1em;
  max-width: 100%;
}
