<h4 mat-dialog-title>
  Editar datos de producto por sucursal
</h4>

<mat-dialog-content>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <mat-card>
      <mat-form-field>
        <input matInput formControlName="price" placeholder="Precio en esta sucursal">
        <mat-hint>
          Precio Global {{inventory.product.price}}
        </mat-hint>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="setGlobalPrice()" type="button">
        Usar precio global
      </button>
    </mat-card>

    <mat-card>
      <mat-form-field>
        <input matInput formControlName="minimum"
               placeholder="Mínimo en esta sucursal">
        <mat-hint>
          Mínimo Global {{inventory.product.global_minimum}}
        </mat-hint>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="setGlobalMinimum()" type="button">
        Usar mínimo global
      </button>
    </mat-card>

    <mat-card>
      <mat-form-field>
        <span matPrefix>$</span>
        <input matInput formControlName="last_cost"
               placeholder="Último costo">
      </mat-form-field>
    </mat-card>

    <button mat-raised-button color="accent">
      Actualzar
    </button>
  </form>
</mat-dialog-content>
