<input [(ngModel)]="value"
       [attr.type]="type"
       [disabled]="disabled"
       [class]="class"
       [id]="id"
       [required]="required"
       [autofocus]="autofocus"
       [min]="min"
       [minlength]="minlength"
       [max]="max"
       [step]="step"
       [ngClass]="{
         empty: isInputVoid,
         'no-check': !required
       }"
       [autocomplete]="'off'"
       (blur)="onTouched()"
       (focus)="focus.emit($event)"
       [ngModelOptions]="{standalone: true}"
       [tabindex]="tab_index"
       #input

/>
<label><ng-content></ng-content></label>
