<ul>
  <li *appUserCanInBranch="'sale'" mat-raised-button color="blue">
    <a routerLink="/venta" routerLinkActive="active"  >
      <i class="fa fa-cart-arrow-down"></i>
      <span>Venta</span>
    </a>
  </li>
  <li *appUserCanInBranch="'buy'">
    <a routerLink="/compra" routerLinkActive="active"  >
      <i class="fa fa-shopping-cart"></i>
      <span>Compra</span>
    </a>
  </li>
  <li *appUserCanInBranch="'inventory-get'">
    <a routerLink="/inventario" routerLinkActive="active"  >
      <i class="fa fa-list-ul"></i>
      <span>Inventario</span>
    </a>
  </li>
  <li *appUserCan="'product-get'">
    <a routerLink="/productos" routerLinkActive="active"  >
      <i class="fa fa-shopping-bag"></i>
      <span>Productos</span>
    </a>
  </li>
  <li *appUserCan="'client-get'">
    <a routerLink="/clientes" routerLinkActive="active"  >
      <i class="fa fa-user"></i>
      <span>Clientes</span>
    </a>
  </li>
  <li *appUserCan="'supplier-get'">
    <a routerLink="/proveedores" routerLinkActive="active"  >
      <i class="fa fa-user-secret"></i>
      <span>Proveedores</span>
    </a>
  </li>
  <li *appUserCan="'user-get'">
    <a routerLink="/usuarios" routerLinkActive="active"  >
      <i class="fa fa-users"></i>
      <span>Usuarios</span>
    </a>
  </li>
  <li *appUserCan="'role-get'">
    <a routerLink="/roles" routerLinkActive="active"  >
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <span>Roles</span>
    </a>
  </li>
  <li *appUserCanInBranch="'branch-edit'">
    <a routerLink="/sucursales" routerLinkActive="active"  >
      <i class="fa fa-building" aria-hidden="true"></i>
      <span>Sucursales</span>
    </a>
  </li>
  <li>
    <a routerLink="/reportes" routerLinkActive="active"  >
      <i class="fa fa-line-chart"></i>
      <span>Reportes</span>
    </a>
  </li>
</ul>
