@import "src/app/colors";


:host{
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

.left{
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: white;
  margin: 1em;
  padding: 1em;

  border-right: white 2px dashed;
  line-height: 1em;
  text-align: center;

  h5{
    margin: 0;
    font-size: 1em;
    text-align: center;
  }

  .client {
    position: relative;
    .searchable-input{
      display: flex;
      input-label{
        flex: 1 0 0;
      }
      app-client-search{
        flex: 0 0 auto;
      }
    }

  }

  .branch{
    flex: 0 0 auto;
  }

  .product{
    color: white;
  }
}

.right{
  flex: 2 0 0;

  color: white;
  padding: 1em;
  border-radius: 1em;
}

input{
  color: #2b2d2f;
}

.error{
  color: #d9534f;
  font-weight: bolder;
}

.client-view{
  background-color: $darkBlue;
  font-weight: bolder;
  border-radius: .5em;
  padding: .5em;
}

.branch-view{
  text-align: center;

  h4, h6{
    margin: 0;
  }
}

hr{
  border-color: lighten($mainContentBackgroundColor, 10%);
}
