@import "~src/vars";

a {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  //justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #556A70;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 1px;
  font-weight: bolder;

  transition: .25s all;

  &:hover {
    background-color: #758A90;
    border-color: #ADADAD;
  }

  &.active, &:focus {
    color: #333;
    background-color: $backgroundLight !important;
    border-color: #ADADAD;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
  }

  span {
    padding-left: 5%;
  }

  i {
    font-size: 1.5em;

  }
}
