<a *appUserCanInBranch="'sale'"
   mat-list-item routerLink="/venta" routerLinkActive="active"
   class="btn btn-default">
  <i class="fa fa-cart-arrow-down"></i>
  <span>Venta</span>
</a>

<a *appUserCanInBranch="'buy'" mat-list-item routerLink="/compra"
   routerLinkActive="active" class="btn btn-default">
  <i class="fa fa-shopping-cart"></i>
  <span>Compra</span>
</a>

<a *appUserCanInBranch="'inventory-get'" mat-list-item routerLink="/inventario"
   routerLinkActive="active"
   class="btn btn-default">
  <i class="fa fa-list-ul"></i>
  <span>Inventario</span>
</a>

<a *appUserCan="'product-get'" mat-list-item routerLink="/productos"
   routerLinkActive="active"
   class="btn btn-default">
  <i class="fa fa-shopping-bag"></i>
  <span>Productos</span>
</a>

<a *appUserCan="'client-get'" mat-list-item routerLink="/clientes"
   routerLinkActive="active" class="btn btn-default">
  <i class="fa fa-user"></i>
  <span>Clientes</span>
</a>

<a *appUserCan="'supplier-get'" mat-list-item routerLink="/proveedores"
   routerLinkActive="active"
   class="btn btn-default">
  <i class="fa fa-user-secret"></i>
  <span>Proveedores</span>
</a>

<a *appUserCan="'user-get'" mat-list-item routerLink="/usuarios"
   routerLinkActive="active"
   class="btn btn-default">
  <i class="fa fa-users"></i>
  <span>Usuarios</span>
</a>

<a *appUserCan="'role-get'" mat-list-item routerLink="/roles"
   routerLinkActive="active"
   class="btn btn-default">
  <i class="fa fa-id-card" aria-hidden="true"></i>
  <span>Roles</span>
</a>

<a *appUserCanInBranch="'branch-edit'" mat-list-item routerLink="/sucursales"
   routerLinkActive="active"
   class="btn btn-default">
  <i class="fa fa-building" aria-hidden="true"></i>
  <span>Sucursales</span>
</a>

<a routerLink="/reportes" mat-list-item routerLinkActive="active"
   class="btn btn-default">
  <i class="fa fa-line-chart"></i>
  <span>Reportes</span>
</a>
