<modal>
  <modal-header [show-close]="true">
    <h4> Añadir Cliente</h4>
  </modal-header>
  <modal-body>
    <form *ngIf="client">
      <floating-label [label]="'Código de usuario'">
        <input type="text"  [(ngModel)]="client.clientname" required/>
      </floating-label>
      <floating-label [label]="'Nombre'">
        <input type="text" [(ngModel)]="client.name"/>
      </floating-label>
      <floating-label [label]="'Apellido Paterno'">
        <input type="text" [(ngModel)]="client.last_name" required/>
      </floating-label>
      <floating-label [label]="'Apellido Materno'">
        <input type="text" [(ngModel)]="client.last_name_2"/>
      </floating-label>
    </form>
  </modal-body>
  <modal-footer>
    <button type="submit"
            class="btn btn-success"
            (click)="create()" >
      Aceptar
    </button>
    <button type="button"
            class="btn btn-primary btn-close-modal"
            (click)="close()" >
      Cerrar
    </button>
  </modal-footer>
</modal>
