<mat-toolbar class="box">
  <mat-toolbar-row>
    <button mat-raised-button color="primary"
            *appUserCan="'user-create'"
            (click)="create()">
      <mat-icon class="fa fa-user-plus" aria-hidden="true"></mat-icon>
      Agregar Usuario
    </button>

    <mat-checkbox [formControl]="deletedControl" *appUserCan="'user-delete'">
      <mat-icon class="fa fa-trash"></mat-icon>
      Ver eliminados
    </mat-checkbox>
  </mat-toolbar-row>

  <mat-toolbar-row [formGroup]="form">
    <mat-icon class="fa fa-filter" aria-hidden="true"></mat-icon>

    <mat-form-field class="medium">
      <mat-label>Código de usuario</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field class="medium">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="medium">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<app-main-content>
  <app-user-item *ngFor="let user of dataSourceObservable | async"
                 [user]="user"
                 (update)="update($event)"
                 (delete)="delete($event)"
                 (restore)="restore($event)"
                 (roles)="openRolesDialog($event)"
  ></app-user-item>
</app-main-content>
