<app-search-bar>
  <button mat-raised-button color="primary"
          *appUserCan="'user-create'"
          (click)="create()">
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    Agregar Usuario
  </button>

  <mat-checkbox [formControl]="deletedControl" *appUserCan="'user-delete'" class="dark-theme">
    <i class="fa fa-trash"></i>
    Ver eliminados
  </mat-checkbox>
</app-search-bar>


<app-search-bar class="dark-theme">
  <form [formGroup]="form">
    <i class="fa fa-filter" aria-hidden="true"></i>

    <mat-form-field class="medium">
      <input matInput formControlName="username" placeholder="Código de usuario">
    </mat-form-field>

    <mat-form-field class="medium">
      <input matInput formControlName="name" placeholder="Nombre">
    </mat-form-field>

    <mat-form-field class="medium">
      <input matInput formControlName="address" placeholder="Dirección">
    </mat-form-field>
  </form>
</app-search-bar>

<app-main-content>
  <app-user-item *ngFor="let user of dataSourceObservable | async"
                 [user]="user"
                 (update)="update($event)"
                 (delete)="delete($event)"
                 (restore)="restore($event)"
                 (roles)="openRolesDialog($event.id)"
  ></app-user-item>
</app-main-content>
