:host{
  color: white;
}

:host /deep/ {
  search-bar{
    display: flex;
    align-items: center;

    form{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    input-label{
      width:auto;
      margin: 0 0 0 0.3em;

      &.id-field{
        width: 8em;
      }
    }

    time{
      display: inline-block;
    }
    datepicker{
      display: inline-block;
      font-size: 1em;
      /deep/ {
        .ui-kit-calendar-container{
          font-size: 1em;
          .ui-kit-calendar-input.opened{
            margin-top: 0;
            margin-bottom: 0;
            height: 1.5em;
            font-size: 1em;
          }
        }
      }
    }

    button{
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      border: 1px solid transparent;
      padding: 0.25em .5rem;
      font-size: 1rem;
      margin: 0;
      border-radius: 0.25rem
    }
  }

  main-content{
    flex-direction: column;
    align-items: center;
  }

  table{
    th{
      border: thin solid white;
      padding-left: 2px;
      padding-right: 2px;
    }
    td{
      border: thin solid white;

      &.no-border{
        border: none;
      }

      table{
        width: 100%;
        font-size: .9em;
      }
    }
  }
}
