<div class="flex-container">
  <div class="wrapper">
    <div class="logo">
      <span>
        <img src="/assets/images/logo_white.png" />
      </span>
    </div>

    <form class="form-signin" (ngSubmit)="onSubmit()" ngNativeValidate>
      <md-input-container>
        <input mdInput placeholder="Usuario"
               [(ngModel)]="username" name="username"
               [autofocus]="true" required="required">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Contraseña"
               [(ngModel)]="password" name="password"
               required="required" type="password">
      </md-input-container>
      <button md-raised-button color="primary"
              type="submit">Iniciar Sesión</button>
    </form>
  </div>
</div>

