<modal (onClose)="onClose()" (onDismiss)="onClose()">
  <modal-header [show-close]="true">
    <h4>{{title}}</h4>
  </modal-header>
  <modal-body>
    <form (ngSubmit)="create()" ngNativeValidate>
      <input-label name="id" type="text" [(ngModel)]="entity.name">
        Ingrese una nueva {{title}}
      </input-label>
      <div>
        <button type="submit" class="btn btn-success">
          Agregar
        </button>
      </div>
    </form>
    <hr/>
    <ul>
      <li *ngFor="let entity of entities">
          <input-label name="id" type="text" [(ngModel)]="entity.name">
            {{title}}
          </input-label>
          <div *appUserCan="mode+'-edit'">
            <button type="submit"
                    class="btn btn-success"
                    (click)="update(entity)">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>

          </div>
          <div *appUserCan="mode+'-delete'">
            <button type="button"
                    class="btn btn-danger"
                    (click)="delete(entity)">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
      </li>
    </ul>
  </modal-body>
  <modal-footer>
    <button type="button"
            class="btn btn-primary"
            (click)="modal.close()" >
      Cerrar
    </button>
  </modal-footer>
</modal>

