<!--<search-bar>
  <div>
    <input type="text" placeholder="ID"/>
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
  <div>
    <input type="text" placeholder="Descripción"/>
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
</search-bar>-->
<main-content>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Categoría</th>
      <th>Marca</th>
      <th>Mínimo de unidades</th>
      <th>Cantidad actual</th>
      <th>Precio de sucursal</th>
      <th>Tipo de unidad</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inventory of inventories"  >
      <td>{{inventory.id}}</td>
      <td>{{inventory.product.description}}</td>
      <td>
        <ul>
          <li *ngFor="let category of inventory.product.categories; let last=last">
            {{category.name}}<span *ngIf="!last">, </span>
          </li>
        </ul>
      </td>
      <td>{{inventory.product.brand ? inventory.product.brand.name  : '' }}</td>
      <td>{{inventory.minimum}}</td>
      <td>{{inventory.quantity}}</td>
      <td>{{inventory.cost}}</td>
      <td>
        {{inventory.product.unit.name}}
        <div *appUserCanInBranch="'inventory-edit'"
             class="button-modify"
             (click)="clickUpdate($event, product)">
          <i class="fa fa-exchange" ></i>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</main-content>

<modal-inventario (updated)="updated($event)"></modal-inventario>

