<search-bar>
  <button *appUserCan="'supplier-create'"
          md-raised-button color="primary"
          (click)="create()">
    <i class="fa fa-user-secret"></i>
    Agregar Proveedor
  </button>
  <button md-raised-button color="primary"
          (click)="supplierCategoryModal.open()">
    Categorias de proveedores
  </button>
  <button md-raised-button color="primary"
          (click)="brandModal.open()">
    Marcas
  </button>
  <md-checkbox [formControl]="deletedControl" *appUserCan="'product-delete'" class="dark-theme">
    <i class="fa fa-trash"></i>
    Ver eliminados
  </md-checkbox>
</search-bar>

<main-content>
  <supplier-item *ngFor="let supplier of suppliers"
               [supplier]="supplier"
               (update)="update($event)"
               (restore)="restore($event)"
               (delete)="delete($event)"
  ></supplier-item>
</main-content>

<supplier-modal (created)="created($event)"
              (updated)="updated($event)"
              (deleted)="deleted($event)">
</supplier-modal>

<app-basic-entity-modal mode="brand" #brandModal></app-basic-entity-modal>
<app-basic-entity-modal mode="supplier-category" #supplierCategoryModal></app-basic-entity-modal>
