<h4 mat-dialog-title>
  Terminar Turno
</h4>
<form (ngSubmit)="submit()" [formGroup]="form">
  <mat-dialog-content>
    <div *ngIf="schedule">
      Inicio: {{schedule.created_at | date:'medium'}}
      <br>
      Sucursal: {{schedule.branch.name}}
    </div>
    <mat-form-field>
      <mat-label>Cantidad</mat-label>
      <input matInput
             formControlName="final_amount" type="number">
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="spacer"></div>
    <button mat-raised-button type="button" matDialogClose>
      Cerrar
    </button>

    <button type="submit" mat-raised-button color="accent">
      Terminar turno
    </button>
  </mat-dialog-actions>
</form>
