<modal>
  <modal-header [show-close]="true">
    <h4 *ngIf="createMode"> Añadir Cliente </h4>
    <h4 *ngIf="updateMode"> Editar Cliente </h4>
    <h4 *ngIf="deleteMode"> Eliminar Cliente </h4>
  </modal-header>
  <form (ngSubmit)="submit()" ngNativeValidate>
    <modal-body *ngIf="!deleteMode && !!client">
      <input-label *ngIf="updateMode" name="id"
                   type="text" [(ngModel)]="client.id" disabled="disabled">
        Id
      </input-label>
      <input-label type="text" [(ngModel)]="client.name" name="name"
                   [disabled]="locked" required>
        Nombre
      </input-label>
      <input-label  type="text" [(ngModel)]="client.last_name" name="last_name"
                    [disabled]="locked">
        Apellido Paterno
      </input-label>
      <input-label type="text" [(ngModel)]="client.last_name_2" name="last_name_2"
                   [disabled]="locked">
        Apellido Materno
      </input-label>
      <input-label type="email" [(ngModel)]="client.email" name="email"
                   [disabled]="locked">
        Email
      </input-label>
      <input-label type="text" [(ngModel)]="client.phone" name="phone"
                   [disabled]="locked">
        Teléfono
      </input-label>
      <input-label type="text" [(ngModel)]="client.cellphone" name="cellphone"
                   [disabled]="locked">
        Celular
      </input-label>
      <input-label type="text" [(ngModel)]="client.address" name="address"
                   [disabled]="locked">
        Dirección
      </input-label>
      <input-label type="text" [(ngModel)]="client.rfc" name="rfc"
                   [disabled]="locked">
         RFC
      </input-label>
    </modal-body>
    <modal-footer>
      <ng-template appUserCan="client-edit">
        <button *ngIf="locked"
                type="submit" class="btn btn-danger pull-xs-left"
                (click)="unlock()" >
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          Editar Cliente
        </button>
      </ng-template>
      <button *ngIf="createMode"
              type="submit"
              class="btn btn-success" >
        Crear Cliente
      </button>
      <button *ngIf="updateMode && !locked"
              type="submit"
              class="btn btn-success" >
        Actualizar Cliente
      </button>
      <button *ngIf="deleteMode && !locked"
              type="submit"
              class="btn btn-danger" >
        Eliminar Cliente
      </button>
      <button type="button"
              class="btn btn-primary"
              (click)="close()" >
        Cerrar
      </button>
    </modal-footer>
  </form>
</modal>

