<search-bar>
  <button md-raised-button color="accent"
          *appUserCan="'user-create'"
          (click)="create()">
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    Agregar Usuario
  </button>

  <md-checkbox [formControl]="deletedControl" *appUserCan="'user-delete'" class="dark-theme">
    <i class="fa fa-trash"></i>
    Ver eliminados
  </md-checkbox>
</search-bar>

<main-content>
  <user-item *ngFor="let user of users"
             [user]="user"
             (update)="update($event)"
             (delete)="delete($event)"
             (restore)="restore($event)"
             (roles)="userRoleModal.open($event.id)"
  ></user-item>
</main-content>

<user-modal (created)="created($event)"
              (updated)="updated($event)"
              (deleted)="deleted($event)">
</user-modal>
<app-user-role-modal #userRoleModal></app-user-role-modal>
