<mat-form-field class="id">
  <mat-label>id</mat-label>
  <input matInput
         type="number"
         autocomplete="off"
         [tabindex]="tab_index" aria-label="State"
         [formControl]="idFormControl">
</mat-form-field>
<mat-form-field class="search">
  <mat-label>{{placeholder}}</mat-label>
  <input matInput
         autocomplete="off"
         [tabindex]="tab_index" aria-label="State"
         [matAutocomplete]="auto" [formControl]="formControl">
  <span matSuffix>
    <mat-icon >search</mat-icon>
  </span>

  <mat-autocomplete #auto="matAutocomplete" class="dark"
                    [displayWith]="displayWith">
    <mat-option class="loading" disabled *ngIf="loading">
      <mat-spinner diameter="20" ></mat-spinner>
    </mat-option>
    <ng-container *ngIf="usersFound$ | async; let users">
      <mat-option class="empty" *ngIf="!loading && !users.length">
        No hay resultados
      </mat-option>

      <mat-option *ngFor="let user of users" [value]="user">
        <span>{{ user.name }}</span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
