<modal (onClose)="clear()" (onDismiss)="clear()">
  <modal-header [show-close]="true">
    <h4>Roles</h4>
  </modal-header>
  <modal-body>
    <ng-select [items]="roleItems"
               [active]="selectedRoleItems"
               (data)="selectedRoleItems = $event"
               [multiple]="true"

               placeholder="Roles">
    </ng-select>
  </modal-body>
  <modal-footer>
    <button (click)="updateSystemRoles()"
            *appUserCan="'user-role-assign'"
            class="btn btn-success">
      Guardar cambios
    </button>
    <button type="button"
            class="btn btn-primary"
            (click)="modal.close()">
      Cerrar
    </button>
  </modal-footer>

  <modal-header>
    <h4>Roles de sucursal</h4>
  </modal-header>

  <modal-body>
    <div *ngFor="let branch of branches; let i=index">
      {{branch.name}}
      <ng-select [items]="branchRoleItems"
                 [active]="selectedBranchRoleItems[i]"
                 (data)="selectedBranchRoleItems[i] = $event"
                 [multiple]="true"
                 [placeholder]="'Roles de sucursal:' + branch.name ">
      </ng-select>
    </div>

  </modal-body>
  <modal-footer>
    <button (click)="updateBranchRoles()"
            class="btn btn-success">
      Guardar cambios
    </button>
    <button type="button"
            class="btn btn-primary"
            (click)="modal.close()">
      Cerrar
    </button>
  </modal-footer>
</modal>

