@import "~src/vars";

table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;

  td,th{
    padding: .5em;
    &.align-right{
      text-align: right;
    }

    .mat-form-field {
      width: 6em;
    }
  }

  ::ng-deep tr{
    td{
      background-color: $primaryLightColor;
    }

    &.empty {
      background: transparent;
    }
  }

  thead{
    tr{
      td{
        border: 2px $primaryDarkColor solid;
        text-align: center;
      }
    }
  }
}
