<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Tipo</th>
    <th>Descripción</th>
    <th>Costo</th>
    <th>Cantidad</th>
    <th>Subtotal</th>
  </tr>
  </thead>
  <tbody [formGroup]="addedProducts">
  <app-product-cart-row
    *ngFor="let productBuy of addedProducts.controls; let i = index"
    [formGroupName]="i"
    [productBuy]="productBuy"
    (remove)="removeProduct(i)"></app-product-cart-row>
  </tbody>

  <tfoot>
  <tr>
    <td class="empty" colspan="4"></td>
    <td>Total Calculado</td>
    <td class="align-right">
      {{total | myCurrency}}
    </td>
  </tr>

  <tr *ngIf="buyEnvironment.invoiceTotalRestriction">
    <td class="empty" class="empty" colspan="4"></td>
    <td>Total Introducido</td>
    <td class="align-right">
      {{ introducedAmount - 0 | myCurrency}}
    </td>
  </tr>
  <tr *ngIf="buyEnvironment.invoiceTotalRestriction"
      [class.error]="amountDiference !== 0">
    <td class="empty" colspan="4"></td>
    <td>Diferencia</td>
    <td class="align-right">
      {{ amountDiference | myCurrency}}
    </td>
  </tr>
  </tfoot>

</table>
