<ng-template [ngIf]="sale">
  <header>
    <h5>{{sale.branch.name}}</h5>
    <h6>{{sale.branch.title_ticket}}</h6>
    <p>{{sale.branch.header_ticket}}</p>
    <p>{{sale.branch.address}}</p>
    <table>
      <tbody>
      <tr>
        <th># Venta</th>
        <td>{{sale.id}}</td>
        <th>Fecha y hora</th>
        <td>{{sale.created_at | date:'medium' }}</td>
      </tr>
      <tr>
        <th>Cliente</th>
        <td colspan="3">{{sale.client.name}} {{sale.client.last_name}} {{sale.client.last_name_2}}</td>
      </tr>
      <tr>
        <th>Lo atendió</th>
        <td colspan="3">{{sale.user.name}} {{sale.user.last_name}} {{sale.user.last_name_2}}</td>
      </tr>
      </tbody>
    </table>
  </header>

  <hr/>

  <table>
    <thead>
    <tr>
      <th>Cantidad</th>
      <th>ID</th>
      <th>Articulo</th>
      <th class="right">Pre. Unit.</th>
      <th class="right">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of sale.products">
      <td>{{product.pivot.quantity}}</td>
      <td>{{product.id}}</td>
      <td>{{product.description}}</td>
      <td class="right">{{product.pivot.price | currency:'USD':true:'1.2-2'}}</td>
      <td class="right">{{product.pivot.price * product.pivot.quantity | currency:'USD':true:'1.2-2'}}</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <th>Total</th>
      <td class="right">{{sale.total | currency:'USD':true:'1.2-2'}}</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <th>Efectivo</th>
      <td class="right">{{sale.client_payment | currency:'USD':true:'1.2-2'}}</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <th>Cambio</th>
      <td class="right">{{sale.client_payment - sale.total | currency:'USD':true:'1.2-2'}}</td>
    </tr>
    </tbody>
  </table>

  <hr/>

  <footer>
    <p>Artículos: {{sale.products.length}}</p>
    <div>{{sale.branch.footer_ticket}}</div>
  </footer>
</ng-template>
