
    <h4 mat-dialog-title>{{title}}</h4>
<mat-dialog-content>
  <mat-checkbox [formControl]="deletedControl" *appUserCan="'user-delete'" >
    <i class="fa fa-trash"></i>
    Ver eliminados
  </mat-checkbox>

  <form (ngSubmit)="create()" ngNativeValidate>
    <mat-form-field>
      <input matInput placeholder="Ingrese una nueva {{title}}"
             name="id" type="text" [(ngModel)]="entity.name">
    </mat-form-field>
    <div>
      <button type="submit" mat-raised-button color="primary">
        Agregar
      </button>
    </div>
  </form>
  <hr/>
  <ul>
    <li *ngFor="let entity of entities">
      <mat-form-field>
        <input matInput [placeholder]="title"
               name="id" type="text" [(ngModel)]="entity.name">
      </mat-form-field>

      <div *appUserCan="mode+'-edit'">
        <button type="submit" mat-mini-fab color="accent"
                (click)="update(entity)">
          <i class="fa fa-check" aria-hidden="true"></i>
        </button>
      </div>
      <div *appUserCan="mode+'-delete'">
        <button *ngIf="entity.deleted_at; else notDeleted" type="button"
                mat-mini-fab
                (click)="restore(entity)">
          <i class="fa fa-recycle" aria-hidden="true"></i>
        </button>
        <ng-template #notDeleted>
          <button type="button"
                  mat-mini-fab color="warn" (click)="delete(entity)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </ng-template>
      </div>
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-raised-button (click)="close()">
    <i class="fa fa-times" aria-hidden="true"></i>
    Cerrar
  </button>
</mat-dialog-actions>
