<app-search-bar>
  <button *appUserCan="'product-create'"
          md-raised-button color="primary"
          (click)="clickCreate()">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Agregar Producto
  </button>
  <button *appUserCan="'category-create'"
          md-raised-button color="primary"
          (click)="openCategoryDialog()">
    <i class="fa fa-list" aria-hidden="true"></i>
    Categorias
  </button>
  <button *appUserCan="'brand-create'"
          md-raised-button color="primary"
          (click)="openBrandDialog()">
    <i class="fa fa-list" aria-hidden="true"></i>
    Marcas
  </button>
  <md-checkbox [formControl]="deletedControl" *appUserCan="'product-delete'" class="dark-theme">
    <i class="fa fa-trash"></i>
    Ver eliminados
  </md-checkbox>
</app-search-bar>

<app-main-content>

  <div class="table-container mat-elevation-z8">
    <md-paginator #paginator
                  [length]="dataSource ? dataSource.data.length : []"
                  [pageIndex]="0"
                  [pageSize]="50"
                  [pageSizeOptions]="[50, 100, 200, 1000, 10000]">
    </md-paginator>
    <table matSort>
      <thead>
      <tr>
        <th mat-sort-header="id">ID</th>
        <th mat-sort-header="description">Descripción</th>
        <th mat-sort-header="bar_code">Código de barras</th>
        <th mat-sort-header="categories" class="hide-on-small">Categorías</th>
        <th mat-sort-header="brand" class="hide-on-small">Marca</th>
        <th mat-sort-header="global_minimum" class="hide-on-small">Mínimo Global</th>
        <th mat-sort-header="price">Precio</th>
        <th mat-sort-header="unit" class="hide-on-small">Unidad</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of dataSourceObservable | async"  (click)="clickUpdate(product)">
        <td>{{product.id}}</td>
        <td>{{product.description}}</td>
        <td>{{product.bar_code}}</td>
        <td class="hide-on-small">
          {{product.toStringCategories()}}
        </td>
        <td class="hide-on-small">
          <span *ngIf="product.brand">
            {{product.brand.name}}
          </span>
        </td>
        <td class="hide-on-small">
          {{product.global_minimum }}
        </td>
        <td>
          {{product.global_price | myCurrency}}
        </td>
        <td class="hide-on-small">
          <span *ngIf="product.unit">
            {{product.unit.name}}
          </span>
        </td>
        <td *appUserCan="'product-delete'">
          <div class="button-modify" *ngIf="product.deleted_at; else notDeleted"
               (click)="clickRestore($event, product)">
            <i class="fa fa-recycle" aria-hidden="true"></i>
          </div>
          <ng-template #notDeleted>
            <div class="button-delete"
                 (click)="clickDelete($event, product)">
              <i class="fa fa-trash" ></i>
            </div>
          </ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-main-content>
