<app-search-bar>
  <button *appUserCan="'product-create'"
          md-raised-button color="primary"
          (click)="clickCreate()">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Agregar Producto
  </button>
  <button *appUserCan="'category-create'"
          md-raised-button color="primary"
          (click)="openCategoryDialog()">
    <i class="fa fa-list" aria-hidden="true"></i>
    Categorias
  </button>
  <button *appUserCan="'brand-create'"
          md-raised-button color="primary"
          (click)="openBrandDialog()">
    <i class="fa fa-list" aria-hidden="true"></i>
    Marcas
  </button>
  <md-checkbox [formControl]="deletedControl" *appUserCan="'product-delete'" class="dark-theme">
    <i class="fa fa-trash"></i>
    Ver eliminados
  </md-checkbox>
</app-search-bar>

<app-main-content>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th class="hide-on-small">Categorías</th>
      <th class="hide-on-small">Marca</th>
      <th class="hide-on-small">Mínimo Global</th>
      <th>Precio</th>
      <th class="hide-on-small">Unidad</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products" (click)="clickUpdate(product)">
      <td>{{product.id}}</td>
      <td>{{product.description}}</td>
      <td class="hide-on-small">
        {{product.toStringCategories()}}
      </td>
      <td class="hide-on-small">
        <span *ngIf="product.brand">
          {{product.brand.name}}
        </span>
      </td>
      <td class="hide-on-small">
        {{product.global_minimum | myCurrency}}
      </td>
      <td>
        {{product.global_price | myCurrency}}
      </td>
      <td class="hide-on-small">
        <span *ngIf="product.unit">
          {{product.unit.name}}
        </span>
      </td>
      <td *appUserCan="'product-delete'">
        <div class="button-modify" *ngIf="product.deleted_at; else notDeleted"
             (click)="clickRestore($event, product)">
          <i class="fa fa-recycle" aria-hidden="true"></i>
        </div>
        <ng-template #notDeleted>
          <div class="button-delete"
               (click)="clickDelete($event, product)">
            <i class="fa fa-trash" ></i>
          </div>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</app-main-content>
