<td>{{inventory.product.id}}</td>
<td>{{inventory.product.bar_code}}</td>
<td>{{inventory.product.description}}</td>
<td class="align-right">
  {{inventory.current_price | myCurrency}}
</td>
<td>
  <mat-form-field class="dark-theme">
    <input #input class="quantity" matInput tabindex="5" required
           type="number"
           [max]="inventory.quantity"
           [min]="inventory.product.unitData.step"
           [step]="inventory.product.unitData.step"
           [formControl]="quantityControl"/>
  </mat-form-field>
</td>
<td class="align-right">
  {{quantityControl.value * inventory.current_price | currency:'$'}}
  <span class="button-delete"
        (click)="remove.emit(inventory)">
      <i class="fa fa-times"></i>
  </span>
</td>
