<search-bar>
  <div>
    <input type="text" placeholder="ID"/>
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
  <div>
    <input type="text" placeholder="Nombre"/>
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
  <button md-raised-button color="accent"
          *appUserCan="'user-create'"
          (click)="create()">
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    Agregar Usuario
  </button>
</search-bar>

<main-content>
  <user-item *ngFor="let user of users"
             [user]="user"
             (update)="update($event)"
             (delete)="delete($event)"
             (roles)="userRoleModal.open($event.id)"
  ></user-item>
</main-content>

<user-modal (created)="created($event)"
              (updated)="updated($event)"
              (deleted)="deleted($event)">
</user-modal>
<app-user-role-modal #userRoleModal></app-user-role-modal>
