<search-bar>
  <div>
    <input type="text" placeholder="ID"/>
    <img src="assets/images/search-user.svg" class="search-icon" />
  </div>
  <div>
    <input type="text" placeholder="Nombre"/>
    <img src="assets/images/search-user.svg" class="search-icon" />
  </div>
  <button class="btn"
          *appUserCan="'user-create'"
          (click)="create()">
    <img src="assets/images/add-user-icon.svg"> Agregar Usuario
  </button>
</search-bar>

<main-content>
  <user-item *ngFor="let user of users"
             [user]="user"
             (update)="update($event)"
             (delete)="delete($event)"
             (roles)="userRoleModal.open($event.id)"
  ></user-item>
</main-content>

<user-modal (created)="created($event)"
              (updated)="updated($event)"
              (deleted)="deleted($event)">
</user-modal>
<app-user-role-modal #userRoleModal></app-user-role-modal>
