<search-bar>
  <div>
    <input type="text" placeholder="ID"/>
    <img src="images/search-user.svg" class="search-icon" />
  </div>
  <div>
    <input type="text" placeholder="Nombre"/>
    <img src="images/search-user.svg" class="search-icon" />
  </div>
  <button id="addUserButton" class="btn btn-default btn-modal"
          (click)="addUserModal.open()">
    <img src="images/add-user-icon.svg">
  </button>

</search-bar>

<div class="mainContent">
  <user-item *ngFor="let user of users"
             [user]="user"
             (update)="update($event, updateUserModal)"
             (delete)="delete($event, deleteUserModal)"
  ></user-item>
</div>

<create-user-modal #addUserModal
                   (createdUser)="createdUser($event)"
></create-user-modal>

<update-user-modal #updateUserModal
                   [user]="selectedUser">
        <!--           (updated)="createdUser($event)"-->
</update-user-modal>

<modal #deleteUserModal>
  <modal-header [show-close]="true" *ngIf="selectedUser">
    <h4 class="modal-title">¿Desea eliminar al usuario: {{selectedUser.name}}?</h4>
  </modal-header>
  <modal-footer>
    <div class="modal-confirm-buttons-div">
      <button type="button" class="btn btn-danger"
              (click)="deleteUser(deleteUserModal)">Eliminar usuario</button>
      <button type="button" class="btn btn-primary"
              (click)="deleteUserModal.close()">No eliminar usuario</button>
    </div>
  </modal-footer>
</modal>
