<modal (onClose)="closed()" (onDismiss)="closed()">
  <modal-header [show-close]="true">
    <h4 *ngIf="createMode"> Añadir Producto </h4>
    <h4 *ngIf="updateMode"> Editar Producto </h4>
    <h4 *ngIf="deleteMode"> Eliminar Producto </h4>
  </modal-header>
  <form (ngSubmit)="submit()">
    <modal-body *ngIf="!deleteMode && product">
      <input-label type="text" *ngIf="updateMode"
                   required [(ngModel)]="product.id"  name="id"
                   [disabled]="updateMode">
        ID
      </input-label>
      <input-label type="text" [(ngModel)]="product.description" name="descripcion"
                   [disabled]="locked" required maxlength="255">
        Description
      </input-label>

      <input-label type="text" [(ngModel)]="product.bar_code" name="bar_code"
                   [disabled]="locked" required>
        Código de barras
      </input-label>


      <ng-select [items]="unitItems"
                 [active]="selectedUnitItem"
                 (data)="selectedUnitItem = [$event]"
                 [disabled]="locked"
                 placeholder="Unidad">
      </ng-select>

      <ng-select [items]="categoryItems"
                 [active]="selectedCategoryItems"
                 (data)="selectedCategoryItems = $event"
                 [multiple]="true"
                 [disabled]="locked"
                 placeholder="Categorias">
      </ng-select>

      <ng-select [items]="brandItems"
                 [active]="selectedBrandItem"
                 (data)="selectedBrandItem = [$event]"
                 [disabled]="locked"
                 placeholder="Marca">
      </ng-select>

      <input-label type="text" [(ngModel)]="product.global_price" name="global_price"
                   [disabled]="locked">
        Precio Global
      </input-label>
      <input-label type="text" [(ngModel)]="product.global_minimum" name="global_minimum"
                   [disabled]="locked">
        Mínimo global
      </input-label>
    </modal-body>
    <modal-footer>
      <template appUserCan="product-edit">
        <button *ngIf="locked"
                type="submit" class="btn btn-danger pull-xs-left"
                (click)="unlock()" >
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          Editar Producto
        </button>
      </template>
      <button *ngIf="createMode"
              type="submit"
              class="btn btn-success">
        Crear Producto
      </button>
      <button *ngIf="updateMode && !locked"
              type="submit"
              class="btn btn-success">
        Actualizar Producto
      </button>
      <button *ngIf="deleteMode && !locked"
              type="submit"
              class="btn btn-danger">
        Eliminar Producto
      </button>
      <button type="button"
              class="btn btn-primary"
              (click)="close()">
        Cerrar
      </button>
    </modal-footer>
  </form>
</modal>

