<form (ngSubmit)="submit()" [formGroup]="form">
  <h2>
    <i class="fa fa-clock-o fa" aria-hidden="true"></i>
    Iniciar Turno
  </h2>

  <mat-form-field>
    <mat-select formControlName="branch" placeholder="Sucursal">
      <mat-option *ngFor="let branch of branches" [value]="branch">
        {{branch.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Monto inicial"
           type="number" formControlName="initial_amount">
    <mat-icon matPrefix>attach_money</mat-icon>
  </mat-form-field>

  <button mat-raised-button color="primary">
    Iniciar turno
  </button>
</form>
