@import "~src/vars";

:host {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

h2 {
  color: white;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgba(white, .1);
  padding: 1em;
  border-radius: .5em;
  color: white;
}
