<div class="payment-type">
  <h5>Tipo de pago:</h5>
  <mat-radio-group [formControl]="paymentTypeIdControl">
    <mat-radio-button [value]="1">
      <mat-icon class="fa fa-money" aria-hidden="true"></mat-icon>
      Efectivo
    </mat-radio-button>
    <mat-radio-button [value]="2">
      <mat-icon class="fa fa-credit-card-alt" aria-hidden="true"></mat-icon>
      Tarjeta
    </mat-radio-button>
  </mat-radio-group>
</div>


<mat-form-field *ngIf="paymentTypeIdControl.value == 2" >
  <input matInput placeholder="Folio de la transacción electrónica"
         [formControl]="cardPaymentIdControl">
</mat-form-field>
