<h5>Tipo de pago:</h5>
<mat-radio-group [(ngModel)]="selectedPaymentType.payment_type_id" required
                name="payment_type_id" placeholder="Tipo de Pago">
  <mat-radio-button [value]="1">
    <i class="fa fa-money" aria-hidden="true"></i>
    Efectivo
  </mat-radio-button>
  <mat-radio-button [value]="2">
    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
    Tarjeta
  </mat-radio-button>
</mat-radio-group>

<mat-form-field *ngIf="selectedPaymentType.payment_type_id == 2" >
  <input matInput placeholder="Folio de la transacción electrónica"
         class="dark"
         [(ngModel)]="selectedPaymentType.card_payment_id"
         name="card_payment_id"
         required>
</mat-form-field>
