<app-popover [focusable]="focusable">
  <form ngNativeValidate>
    <md-input-container class="dark-theme">
      <input mdInput placeholder="Nombre" autocomplete="off"
             [(ngModel)]="name" class="dark" type="text"
             [formControl]="nameControl" #focusable>
    </md-input-container>
  </form>
  <app-selectable [items]="branches"
                  [loading]="loading"
                  (selected)="select($event)"
                  (keydown)="selectable.keydown($event)">
    <ng-template let-item="item">
      {{item.id}} - {{item.name}}
    </ng-template>
  </app-selectable>
</app-popover>
