<app-popover [focusable]="focusable">
  <form ngNativeValidate>
    <mat-form-field class="dark-theme">
      <input matInput placeholder="Nombre" autocomplete="off"
             [(ngModel)]="name" class="dark" type="text"
             [formControl]="nameControl" #focusable>
    </mat-form-field>
  </form>
  <app-selectable [items]="branches"
                  [loading]="loading"
                  (selected)="select($event)"
                  (keydown)="selectable.keydown($event)">
    <ng-template let-item="item">
      {{item.id}} - {{item.name}}
    </ng-template>
  </app-selectable>
</app-popover>
