<mat-form-field class="search">
  <input matInput [placeholder]="placeholder"
         [tabindex]="tab_index" aria-label="State"
         [matAutocomplete]="auto" [formControl]="formControl">
  <span matSuffix>
    <mat-icon>search</mat-icon>
  </span>

  <mat-autocomplete #auto="matAutocomplete" class="dark"
                    [displayWith]="displayWith">
    <mat-option class="loading" disabled *ngIf="loading">
      <mat-spinner diameter="20" class="dark-theme"></mat-spinner>
    </mat-option>
    <ng-container *ngIf="branchesFound$ | async; let branches">
      <mat-option class="empty" *ngIf="!loading && !branches.length">
        No hay resultados
      </mat-option>

      <mat-option *ngFor="let branch of branches" [value]="branch">
        <span>{{ branch.name }}</span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
