<mat-form-field class="search">
  <input matInput [placeholder]="placeholder"
         [tabindex]="tab_index" aria-label="State"
         [matAutocomplete]="auto" [formControl]="fieldControl">
  <span matSuffix>
    <mat-icon>search</mat-icon>
  </span>

  <mat-autocomplete #auto="matAutocomplete" class="dark"
                    (optionSelected)="optionSelected.emit($event.option.value)"
                    [displayWith]="displayWith">
    <mat-option class="loading" disabled *ngIf="loading">
      <mat-spinner diameter="20" class="dark-theme"></mat-spinner>
    </mat-option>
    <ng-container *ngIf="productsFound$ | async; let products">
      <mat-option class="empty" *ngIf="!loading && !products.length">
        No hay resultados
      </mat-option>

      <mat-option *ngFor="let product of products" [value]="product">
        <span>{{ product.description }}</span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
