<h4 *ngIf="createMode" mat-dialog-title> Añadir rol de sucursal </h4>
<h4 *ngIf="updateMode" mt-dialog-title> Editar rol de sucursal </h4>
<h4 *ngIf="deleteMode" mat-dialog-title> Eliminar rol de sucursal </h4>

<form (ngSubmit)="submit()" ngNativeValidate>
  <mat-dialog-content *ngIf="!deleteMode && !!branchRole">
    <mat-form-field>
      <input matInput placeholder="Código"
             type="text" [(ngModel)]="branchRole.name" name="name"
             [disabled]="locked" required maxlength="255">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nombre"
             type="text" [(ngModel)]="branchRole.display_name" name="display_name"
             [disabled]="locked" required maxlength="255">
    </mat-form-field>
    <mat-form-field *ngIf="updateMode">
      <input matInput placeholder="Descripción"
             type="text" [(ngModel)]="branchRole.description" name="description"
             [disabled]="locked" required>
    </mat-form-field>


    <div class="permissions">
      <mat-checkbox *ngFor="let branchPermission of branchPermissionList"
                   type="checkbox" [(ngModel)]="branchPermission.checked" [disabled]="locked"
                   [ngModelOptions]="{standalone: true}" [id]="'checked'+branchPermission.id">
        {{branchPermission.name}}
      </mat-checkbox>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <ng-template [appUserCan]="'branch-role-edit'">
      <button *ngIf="locked"
              type="submit" mat-raised-button color="warn"
              (click)="unlock()" >
        <mat-icon class="fa fa-unlock-alt" aria-hidden="true"></mat-icon>
        Editar rol de sucursal
      </button>
    </ng-template>
    <button *ngIf="createMode"
            type="submit" mat-raised-button color="accent">
      Crear rol de sucursal
    </button>
    <button *ngIf="updateMode && !locked"
            type="submit" mat-raised-button color="accent">
      Actualizar rol
    </button>
    <button *ngIf="deleteMode && !locked"
            type="submit" mat-raised-button color="warn">
      Eliminar rol de sucursal
    </button>
    <button type="button" mat-raised-button
            mat-dialog-close>
      Cerrar
    </button>
  </mat-dialog-actions>

</form>

