<main-content>
  <div class="control">
    <div class="client">
      <floating-label [label]="'ID de cliente'">
        <input type="number" [(ngModel)]="client_id"
               (change)="updateClient()"
               (keyup)="updateClient()"/>
        <ul class="search-list">
          <li *ngFor="let client of clientSuggestions" (click)="selectClient(client)">
            {{client.id}} - {{client.name}}
          </li>
        </ul>
      </floating-label>
      <div *ngIf="client">
        {{client.fullName}}
      </div>
    </div>

    <div class="search">
      <label>Agregar Producto</label>
      <floating-label [label]="'Por Código de barras'">
        <input type="text" [(ngModel)]="bar_code" (keyup)="barCodeEntered($event)"/>
      </floating-label>
      <floating-label [label]="'Buscar por descripción'">
        <input type="text" [(ngModel)]="search_words" (keyup)="searchEntered($event)"/>
        <ul class="search-list">
          <li *ngFor="let product of productSuggestions" (click)="addProduct(product)">
            {{product.description}} - {{product.price}}
          </li>
          <li *ngIf=""></li>
        </ul>
      </floating-label>


      <floating-label [label]="'Por ID'">
        <input type="number" min="1" step="1"
               [(ngModel)]="product_id"
               (keyup)="idEntered($event)" />
      </floating-label>
    </div>

    <div class="finish">
      <label>Tipo de pago:</label>
      <br>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" [(ngModel)]="payment_type_cash" checked>
          Efectivo
        </label>
        <label class="btn btn-primary">
          <input type="radio" [(ngModel)]="payment_type_card">
          Tarjeta
        </label>
      </div>

      <floating-label [label]="'Pago:'">
        <input type="number" [(ngModel)]="clientPayment"/>
      </floating-label>
      <button
        class="btn btn-success btn-block"
        (click)="finish()">Finalizar Venta</button>
      <button
        class="btn btn-danger btn-block"
        (click)="clear()">Cancelar Venta</button>
    </div>
  </div>


  <div class="products">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let productSale of addedProducts">
        <td>{{productSale.product.id}}</td>
        <td>{{productSale.product.description}}</td>
        <td class="align-right">{{productSale.product.price | currency:'USD':true:'1.2-2'}}</td>
        <td>
          <input type="number" [(ngModel)]="productSale.quantity"/>
        </td>
        <td class="align-right">
          {{productSale.quantity * productSale.product.price
            | currency:'USD':true:'1.2-2'}}
        </td>
        <td (click)="removeProduct(productSale)">X</td>
      </tr>
      </tbody>

      <tfoot>
      <tr>
        <td colspan="3"></td>
        <td>Total</td>
        <td class="align-right">
          {{total | currency:'USD':true:'1.2-2'}}
        </td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td>Pago</td>
        <td class="align-right">{{clientPayment | currency:'USD':true:'1.2-2'}}</td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td>Cambio</td>
        <td class="align-right">{{clientPayment - total | currency:'USD':true:'1.2-2'}}</td>
      </tr>
      </tfoot>

    </table>
  </div>
</main-content>
