<picture>
</picture>
<div id="hidden-bar-div"> </div>
<div id="sesion-menu-bar">
  <a class="header-texts my-account" routerLink="/mi-cuenta" routerLinkActive="active">
    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
    <div>
      <span *ngIf="user" id="user-menu-bar">{{user.username}}</span>
      <br>
      <span *ngIf="user" >{{user.fullName}}</span>
    </div>
  </a>
  <div>
    <button type="button" class="btn btn-default" (click)="openEndScheduleModal()">
      <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
      <span  *ngIf="schedule">
        Inicio: {{schedule.created_at | date:'medium'}}
        <br>
        Sucursal: {{schedule.branch.name}}
      </span>
      <span *ngIf="!schedule">
        No se ha iniciado<br> un turno
      </span>
    </button>
    <end-schedule-modal>
    </end-schedule-modal>
  </div>
  <div>
    <button type="button" class="btn btn-default" (click)="logout()">
      <i class="fa fa-sign-out fa-2x"  aria-hidden="true"></i>Cerrar <br> Sesión
    </button>
  </div>
</div>


