@import "~app/vars";

main-content{
  flex: 1 0 0;
}

:host{
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

.left{
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: white;
  margin: 1em;
  padding: 1em;

  border-right: white 2px dashed;
  line-height: 1em;
  text-align: center;

  h5{
    margin: 0;
    font-size: 1em;
    text-align: center;
  }

  .branch{
    flex: 0 0 auto;
  }

  .product{
    color: white;
  }
}

.right{
  flex: 2 0 0;

  color: white;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
}

app-begin-buy-modal{
  max-width: 480px;
}
