@import "~app/vars";

:host /deep/{
  font-size: 14px;
  .btn-default{
    color: #ffffff;
    background-color: #556A70;
    border-color: black;
    &:hover{
      background-color: #e6e6e6;
      color: #333;
    }
  }


  ng-select.dark{
    .btn-default{
      background-color: $darkBlue;
      &:hover{
        color: white;
      }
    }
    input{
      background-color: $darkBlue;
    }
  }
}



#body-content{
  padding-top: 50px;
  height: 100%;
  box-sizing:border-box;
  display: flex;
  :host /deep/{

}
  align-items:stretch;
}

main{
  flex:1 1 120px;
  display: flex;
  flex-direction: column;
}

.searchBar{
  background-color: #556A70;
  flex: 1;
  margin: 5px;
}

.mainContent{
  flex: 10;
  background-color: #556A70;
  margin: 5px;
}

.modal-form{
  margin: 10px;
  input{
    margin: 10px;
  }
  .btn{
    display: inline-block;
  }
}

.modal-confirm-buttons-div{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button{
  cursor: pointer;
}
