<mat-toolbar class="box">
  <mat-toolbar-row>
    <button *appUserCan="'client-create'"
            mat-raised-button color="primary"
            (click)="create()">
      <mat-icon class="fa fa-user-plus" aria-hidden="true"></mat-icon>
      Agregar Cliente
    </button>

    <mat-checkbox [formControl]="deletedControl"
                  *appUserCan="'client-delete'">
      <mat-icon class="fa fa-trash"></mat-icon>
      Ver eliminados
    </mat-checkbox>
  </mat-toolbar-row>

  <mat-toolbar-row [formGroup]="form">
    <mat-icon class="fa fa-filter" aria-hidden="true"></mat-icon>

    <mat-form-field class="small">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>




<app-main-content>
  <app-client-item *ngFor="let client of dataSourceObservable | async"
                   [client]="client"
                   (update)="update($event)"
                   (delete)="delete($event)"
                   (restore)="restore($event)"
  ></app-client-item>
</app-main-content>
