<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Subtotal</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let productBuy of addedProducts">
    <td>{{productBuy.product.id}}</td>
    <td>{{productBuy.product.description}}</td>
    <td class="align-right">
      <input type="number" min="0" max="9999999999" step=".01"
             [(ngModel)]="productBuy.cost"/>
    </td>
    <td>
      <input type="number" min="1"
             [(ngModel)]="productBuy.quantity"/>
    </td>
    <td class="align-right">
      {{productBuy.quantity * productBuy.cost | currency:'USD':true:'1.2-2'}}
      <span class="button-delete"
            (click)="removeProduct(productBuy)">
            <i class="fa fa-times"></i>
        </span>
    </td>
  </tr>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="3"></td>
    <td>Total Calculado</td>
    <td class="align-right">
      {{total | currency:'USD':true:'1.2-2'}}
    </td>
  </tr>

  <tr [ngClass]="{ error: payment - total < 0 }">
    <td colspan="3"></td>
    <td>Total Introducido</td>
    <td class="align-right">{{ introducedAmount-0 | currency:'USD':true:'1.2-2'}}</td>
  </tr>
  </tfoot>

</table>
