<h5>Producto</h5>
<md-input-container>
  <input mdInput [(ngModel)]="bar_code" name="bar_code" class="dark"
         placeholder="Código de barras"
          (keyup.enter)="barCodeEntered()"
         autocomplete="off"
         #barCodeInput [tabindex]="tab_index" />
</md-input-container>
<autocomplete-input
  (selected)="selectedProduct.emit($event)"
  [searchMethod]="searchMethod"
  [(search_words)]="search_words"
  [tab_index]="tab_index"
>
</autocomplete-input>
<md-input-container>
  <input mdInput [(ngModel)]="product_id"
         placeholder="Id de producto"
         name="product_id" class="dark"
         [type]="'number'"
         autocomplete="off"
         [min]="1" [step]="1" [tabindex]="tab_index"
         (keyup)="idEntered($event)">
</md-input-container>

