<mat-dialog-content>
  <mat-card [formGroup]="systemForm" >
    <h4 mat-dialog-title>
      {{'role.roles' | translate}}
    </h4>
    <mat-form-field>
      <mat-label>Roles</mat-label>
      <mat-select formControlName="role_ids"
                  [multiple]="true">
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{role.display_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button *appUserCan="'user-role-assign'"
            (click)="updateSystemRoles()"
            mat-raised-button color="accent">
      {{'common.save' | translate}}
    </button>
    <button type="button" mat-raised-button mat-dialog-close>
      {{'common.close' | translate}}
    </button>
  </mat-card>

  <mat-card [formGroup]="branchForm">
    <h4 mat-dialog-title>
      {{'branch.branchRoles' | translate}}
    </h4>

    <div *ngFor="let branch of branchForm.get('branchRoles'); let i=index" class="branch-roles"
    [formArrayName]="i">
      <mat-form-field [formGroup]="branch">
        <mat-label>{{branch.get('branch').name}}</mat-label>
        <mat-select formControlName="branch_role_ids" [multiple]="true">
          <mat-option *ngFor="let branchRole of branchRoles"
                      [value]="branchRole.id">
            {{branchRole.display_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button (click)="updateBranchRoles()" mat-raised-button color="accent">
      {{'common.save' | translate}}
    </button>
    <button type="button" mat-raised-button mat-dialog-close>
      {{'common.close' | translate}}
    </button>
  </mat-card>

</mat-dialog-content>
