@import "~src/vars";

:host{
  @extend .form-dialog;
}

.branch-roles{
  display: flex;
  flex-direction: column;
}

md-dialog-content{
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;

  md-card{
    display: flex;
    flex-direction: column;
    padding: .5em;
  }
}
