@import "~app/vars";

:host{
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

main-content{
  flex-direction: column;
}

h2{
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: .5em;
  margin-bottom: .5em;
  text-align: center;
}

ul{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    display: flex;
    flex-direction: column;
    background-color: $darkBlue;
    min-width: 18em;
    border-radius: 1em;
    border: dashed 2px white;
    text-align: center;
    margin: .5em;
    transition: all .25s;
    max-width: 480px;
    &:hover{
      background-color: $hoverBlue;
      cursor: pointer;
    }

    a{
      flex: 1 0 auto;
      color: white;
      padding: .5em;
      font-size: 1.5em;
    }
  }
}
