<h4 md-dialog-title>Cambiar Contraseña</h4>

<form [formGroup]="form" (ngSubmit)="submit()">
  <md-dialog-content>
    <md-input-container>
      <input mdInput formControlName="current_password" placeholder="Contraseña actual"
             type="password">
    </md-input-container>
    <md-input-container>
      <input mdInput formControlName="password" type="password"
             placeholder="Nueva contraseña">
    </md-input-container>
    <md-input-container>
      <input mdInput formControlName="confirm_password" type="password"
             placeholder="Confirme la contraseña">
      <md-hint class="error" *ngIf="form.get('confirm_password').hasError('notSame')">
        La contraseña no concuerda
      </md-hint>
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-raised-button color="accent">
      Aceptar
    </button>
  </md-dialog-actions>
</form>
