@import "~src/vars";

:host{
  display: flex;
  max-width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

h5{
  margin: 0;
  font-size: 1em;
  text-align: center;
}

h6 {
  margin: 0;
}

form {
  display: flex;
  align-self: flex-start;
}

.left{
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  margin: 1em;
  padding: 1em;

  border-right: white 2px solid;
  line-height: 1em;
  text-align: center;

  .branch{
    flex: 0 0 auto;
  }

  .finish{
    display: flex;
    flex-direction: column;
  }
}

.right{
  flex: 2 0 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  align-self: stretch;

  header{
    font-size: 1.1em;
    padding-bottom: 1em;
    border-bottom: 1px gray;

    .buy-header{
      display: inline-block;
      margin-right: 2em;
      .bold {
        font-weight: bold;
      }
    }
  }
}

app-begin-buy{
  max-width: 480px;
}

section {
  display: flex;
  flex-direction: column;
  padding: .5em;
  background-color: $primaryLighterColor;
  border-radius: .5em;
  margin-bottom: .2em;

  ::ng-deep h5 {
    margin-top: .25em;
    margin-bottom: .5em;
    font-size: 1.25em;
  }
}
