<app-main-content class="dark-theme">
  <app-begin-buy
    [hidden]="initialData"
    (buyStarted)="startBuy($event)">
  </app-begin-buy>


  <div class="left" *ngIf="initialData">
    <div class="search">
      <app-find-product (selectedProduct)="addProduct($event)"
                        mode="product">
      </app-find-product>
      <hr/>
    </div>

    <app-payment-type [(selectedPaymentType)]="selectedPaymentType">
    </app-payment-type>
    <form (submit)="openBuyConfirm()" ngNativeValidate>
      <div class="finish">

        <h5>Impuestos</h5>
        <mat-form-field>
          <input matInput [(ngModel)]="iva"
                 placeholder="IVA" name="iva" class="dark" step=".01"
                 [type]="'number'"  [max]="99999999999" [required]="true" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="ieps" name="ieps" step=".01"
                 placeholder="IEPS" class="dark"
                 [type]="'number'"  [max]="99999999999" [required]="true" />
        </mat-form-field>

        <div>
          <button type="button"
                  mat-raised-button color="warn"
                  (click)="openCancelDialog()">
            Cancelar Compra
          </button>
          <button type="submit" mat-raised-button color="accent">
            Finalizar Compra
          </button>
        </div>
      </div>
    </form>
  </div>


  <div class="right" *ngIf="initialData">
    <header>
      <div class="buy-header" *ngIf="initialData.branch">
        <span class="bold">Sucursal:</span>
        {{initialData.branch.name}}
      </div>
      <div class="buy-header" *ngIf="initialData.supplier">
        <span class="bold">Proveedor:</span>
        {{initialData.supplier.name}}
      </div>
      <div class="buy-header" *ngIf="initialData.supplier">
        <span class="bold">ID de la factura:</span>
        {{initialData.supplierBillID}}
      </div>
    </header>
    <app-product-cart
      [(addedProducts)]="addedProducts"
      [introducedAmount]="initialData.introducedAmount"
    ></app-product-cart>
  </div>
</app-main-content>
