@import "~src/vars";

app-main-content{
  flex: 1 0 0;
  background-color: $backgroundDark;
}

:host{
  display: flex;
  max-width: 100%;
  overflow: hidden;
}


h5{
  margin: 0;
  font-size: 1em;
  text-align: center;
}

h6 {
  margin: 0;
}

.left{
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: white;
  margin: 1em;
  padding: 1em;

  border-right: white 2px dashed;
  line-height: 1em;
  text-align: center;

  .branch{
    flex: 0 0 auto;
  }

  .product{
    color: white;
  }

  .finish{
    display: flex;
    flex-direction: column;
  }
}

.right{
  flex: 2 0 0;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1em;
  border-radius: 1em;
  text-align: center;

  header{
    font-size: 1.1em;
    padding-bottom: 1em;
    border-bottom: 1px gray;

    .buy-header{
      display: inline-block;
      margin-right: 2em;
      .bold {
        font-weight: bold;
      }
    }
  }

}

app-begin-buy{
  max-width: 480px;
}
