<app-search-bar class="dark-theme">
  <form [formGroup]="form">
    <i class="fa fa-filter" aria-hidden="true"></i>

    <mat-form-field>
      <input matInput formControlName="id" placeholder="ID">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="product" placeholder="Producto">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="bar_code" placeholder="Código de barras">
    </mat-form-field>

    <mat-select formControlName="categories" placeholder="Categoría">
      <mat-option [value]="null"> Todas </mat-option>
      <mat-option *ngFor="let category of categories | async" [value]="category.id">
        {{category.name}}
      </mat-option>
    </mat-select>

    <mat-select formControlName="brand" placeholder="Marca">
      <mat-option [value]="null"> Todas </mat-option>
      <mat-option *ngFor="let brand of brands | async" [value]="brand.id">
        {{brand.name}}
      </mat-option>
    </mat-select>

    <mat-form-field>
      <input matInput formControlName="minimum" placeholder="Mínimo">
    </mat-form-field>


    <mat-form-field>
      <input matInput formControlName="quantity" placeholder="Cantidad">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="branchPrice" placeholder="Precio de sucursal">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="globalPrice" placeholder="Precio">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="lastCost" placeholder="Último costo">
    </mat-form-field>

    <mat-select formControlName="unit" placeholder="Unidad">
      <mat-option [value]="null"> Todas </mat-option>
      <mat-option *ngFor="let unit of units" [value]="unit.id">
        {{unit.name}}
      </mat-option>
    </mat-select>


    <mat-checkbox formControlName="minimum_filter">
      Filtro de mínimos
    </mat-checkbox>
  </form>

</app-search-bar>
<app-main-content>
    <div class="table-container mat-elevation-z8">
    <mat-paginator #paginator
                  [length]="dataSource ? dataSource.filteredData.length : []"
                  [pageIndex]="0"
                  [pageSize]="50"
                  [pageSizeOptions]="[50, 100, 200, 500, 1000, 10000]">
    </mat-paginator>
    <table matSort>
      <thead>
      <tr>
        <th mat-sort-header="id">ID</th>
        <th mat-sort-header="product">Descripción</th>
        <th mat-sort-header="bar_code">Código de barras</th>
        <th mat-sort-header="categories">Categoría</th>
        <th mat-sort-header="brand">Marca</th>
        <th mat-sort-header="minimum">Mínimo de unidades</th>
        <th mat-sort-header="quantity">Cantidad actual</th>
        <th mat-sort-header="branchPrice">Precio de sucursal</th>
        <th mat-sort-header="globalPrice">Precio Global</th>
        <th mat-sort-header="lastCost">Último costo</th>
        <th mat-sort-header="unit">Tipo de unidad</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventory of dataSourceObservable | async"
            (click)="openUpdateDialog(inventory)">
          <td>{{inventory.product.id}}</td>
          <td>{{inventory.product.description}}</td>
          <td>{{inventory.product.bar_code}}</td>
          <td>
            {{inventory.product.toStringCategories()}}
          </td>
          <td>{{inventory.product.brand ? inventory.product.brand.name  : '' }}</td>
          <td>{{inventory.current_minimum}}</td>
          <td>{{inventory.quantity}}</td>
          <td>{{inventory.price | myCurrency}}</td>
          <td>{{inventory.product.price | myCurrency}}</td>
          <td>
            <ng-container *ngIf="inventory.last_cost">
              {{inventory.last_cost | myCurrency}}
            </ng-container>
          </td>
          <td>
            {{inventory.product.unit.name}}
            <div *appUserCanInBranch="'inventory-edit'"
                 class="button-modify"
                 (click)="clickUpdate($event, inventory)">
              <i class="fa fa-exchange" ></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-main-content>


