<app-main-content>
    <div class="table-container mat-elevation-z8">
    <md-paginator #paginator
                  [length]="dataSource ? dataSource.data.length : []"
                  [pageIndex]="0"
                  [pageSize]="50"
                  [pageSizeOptions]="[50, 100, 200, 1000, 10000]">
    </md-paginator>
    <table matSort>
      <thead>
      <tr>
        <th mat-sort-header="id">ID</th>
        <th mat-sort-header="product">Descripción</th>
        <th mat-sort-header="categories">Categoría</th>
        <th mat-sort-header="brand">Marca</th>
        <th mat-sort-header="minimum">Mínimo de unidades</th>
        <th mat-sort-header="quantity">Cantidad actual</th>
        <th mat-sort-header="branchPrice">Precio de sucursal</th>
        <th mat-sort-header="globalPrice">Precio Global</th>
        <th mat-sort-header="unit">Tipo de unidad</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventory of dataSourceObservable | async"
            (click)="openUpdateDialog(inventory)">
          <td>{{inventory.product.id}}</td>
          <td>{{inventory.product.description}}</td>
          <td>
            {{inventory.product.toStringCategories()}}
          </td>
          <td>{{inventory.product.brand ? inventory.product.brand.name  : '' }}</td>
          <td>{{inventory.minimum}}</td>
          <td>{{inventory.quantity}}</td>
          <td>{{inventory.price | myCurrency}}</td>
          <td>{{inventory.product.price | myCurrency}}</td>
          <td>
            {{inventory.product.unit.name}}
            <div *appUserCanInBranch="'inventory-edit'"
                 class="button-modify"
                 (click)="clickUpdate($event, inventory)">
              <i class="fa fa-exchange" ></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-main-content>


