<h4 mat-dialog-title>
  {{client ? ('common.edit' | translate) : ('common.create' | translate)}}
  {{'client.client' | translate}}
</h4>

<form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
  <mat-dialog-content>
    <div class="row">
      <mat-form-field *ngIf="client" class="id">
        <mat-label>{{'client.id' | translate}}</mat-label>
        <input matInput [value]="client.id" disabled>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'client.name' | translate}}</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'client.lastName' | translate}}</mat-label>
        <input matInput type="text" formControlName="last_name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'client.lastName2' | translate}}</mat-label>
        <input matInput type="text" formControlName="last_name_2">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'client.email' | translate}}</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'client.phone' | translate}}</mat-label>
        <input matInput
               type="text" formControlName="phone">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'client.cellphone' | translate}}</mat-label>
        <input matInput type="text" formControlName="cellphone">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'client.address' | translate}}</mat-label>
        <input matInput
               type="text" formControlName="address">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'client.rfc' | translate}}</mat-label>
        <input matInput type="text" formControlName="rfc">
      </mat-form-field>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="button" mat-raised-button mat-dialog-close>
      {{'common.close' | translate}}
    </button>

    <div class="spacer"></div>

    <ng-template appUserCan="client-create">
      <app-loading-button *ngIf="!client" [loading]="loading"
              mat-raised-button color="accent">
        {{'common.create' | translate}} {{'client.client' | translate}}
      </app-loading-button>
    </ng-template>

    <ng-template appUserCan="client-edit">
      <app-loading-button *ngIf="client" [loading]="loading"
              mat-raised-button color="accent">
        {{'common.edit' | translate}} {{'client.client' | translate}}
      </app-loading-button>
    </ng-template>
  </mat-dialog-actions>
</form>

