<div class="control">
  <div class="client">
    <h5>Cliente</h5>
    <input-label [(ngModel)]="client_id" name="cliend_id" [type]="'number'" [min]="1"
                 [formControl]="clientIdControl"
                 [required]="true">
      ID de cliente
    </input-label>
    <hr/>
  </div>

  <div class="search">
    <h5>Producto</h5>
    <input-label [(ngModel)]="bar_code" name="bar_code" (keyup)="barCodeEntered($event)">
      Código de barras
    </input-label>

    <autocomplete-input
      (selected)="addProduct($event)"
      [searchMethod]="searchMethod"
      [(search_words)]="search_words"
    >
    </autocomplete-input>

    <input-label [(ngModel)]="product_id" name="product_id" [type]="'number'" [min]="1" [step]="1"
                 (keyup)="idEntered($event)">
      ID
    </input-label>
    <hr/>
  </div>

  <div class="finish">
    <input-label [(ngModel)]="clientPayment" name="clientPayment"
                 [type]="'number'" [min]="total" [max]="99999999999" [required]="true">
      Pago
    </input-label>

    <hr>
    <h5>Tipo de pago:</h5>
    <br>
    <div class="btn-group">
      <label *ngFor="let paymentType of paymentTypes"
             class="btn btn-primary" [(ngModel)]="payment_type_id"  name="payment_type_id"
             [btnRadio]="paymentType.value">
        {{paymentType.label}}
      </label>
    </div>

    <hr>
    <h5>Imprimir ticket</h5>
    <div class="btn-group">
      <label class="btn btn-primary" [(ngModel)]="print"  name="payment_type_id"
             [btnRadio]="true">
        Si
      </label>
      <label class="btn btn-primary" [(ngModel)]="print"  name="payment_type_id"
             [btnRadio]="false">
        No
      </label>
    </div>

    <input-label *ngIf="payment_type_id == 2"
                 [(ngModel)]="card_payment_id" name="card_payment_id" [required]="true">
      Folio de la transacción electrónica
    </input-label>

    <hr>
    <div class="btn-group">
      <button
        class="btn btn-success btn-block"
        (click)="confirm()">Finalizar Venta
      </button>

      <button
        class="btn btn-danger btn-block"
        (click)="cancel()">Cancelar Venta
      </button>
    </div>

  </div>
</div>


<div class="products">

  <div class="branch-view" *ngIf="branch">
    <h6>Sucursal</h6>
    <h4>
      {{branch.name}}
    </h4>
  </div>

  <hr>

  <div class="client-view">
    Cliente: <span class="error" *ngIf="client_status">{{client_status}}</span>
    <span *ngIf="!client_status">{{client && client.fullName}}</span>
  </div>

  <hr>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let productSale of addedProducts">
      <td>{{productSale.inventory.product.id}}</td>
      <td>{{productSale.inventory.product.description}}</td>
      <td class="align-right">{{productSale.inventory.correctPrice | currency:'USD':true:'1.2-2'}}</td>
      <td>
        <input type="number" min="1" [max]="productSale.inventory.quantity"
               [(ngModel)]="productSale.quantity"/>
      </td>
      <td class="align-right">
        {{productSale.quantity * productSale.inventory.correctPrice
        | currency:'USD':true:'1.2-2'}}
        <span class="button-delete"
              (click)="removeProduct(productSale)">
            <i class="fa fa-times"></i>
        </span>
      </td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <td colspan="3"></td>
      <td>Total</td>
      <td class="align-right">
        {{total | currency:'USD':true:'1.2-2'}}
      </td>
    </tr>
    <tr [ngClass]="{ error: clientPayment - total < 0 }">
      <td colspan="3"></td>
      <td>Pago</td>
      <td class="align-right">{{ clientPayment-0 | currency:'USD':true:'1.2-2'}}</td>
    </tr>
    <tr [ngClass]="{ error: clientPayment - total < 0 }">
      <td colspan="3"></td>
      <td>Cambio</td>
      <td class="align-right">{{clientPayment - total | currency:'USD':true:'1.2-2'}}</td>
    </tr>
    </tfoot>

  </table>
</div>


<sale-confirm-modal (confirmed)="finish()"></sale-confirm-modal>
