<div class="control">
  <div class="client">
    <h5>Cliente</h5>
    <floating-label [label]="'ID de cliente'">
      <input type="number"
             min="1"
             [(ngModel)]="client_id"
             [ngFormControl]="clientIdControl"
      />
      <table class="search-list">
        <tr *ngFor="let client of clientSuggestions"
            (click)="selectClient(client)">
          <td>{{client.id}}</td>
          <td>{{client.name}}</td>
        </tr>
      </table>
    </floating-label>
    <hr/>
  </div>


  <div class="search">
    <h5>Producto</h5>
    <floating-label [label]="'Por Código de barras'">
      <input type="text" [(ngModel)]="bar_code" (keyup)="barCodeEntered($event)"/>
    </floating-label>

    <autocomplete-input
      (selected)="addProduct($event)"
      [searchMethod]="searchMethod"
      [(search_words)]="search_words"
    >
    </autocomplete-input>

    <floating-label [label]="'Por ID'">
      <input type="number" min="1" step="1"
             [(ngModel)]="product_id"
             (keyup)="idEntered($event)"/>
    </floating-label>
    <hr/>
  </div>

  <div class="finish">
    <floating-label [label]="'Pago:'">
      <input type="number" min="0" [(ngModel)]="clientPayment"/>
    </floating-label>

    <hr>

    <h5>Tipo de pago:</h5>
    <br>
    <div class="btn-group" data-toggle="buttons">
      <p-selectButton [options]="paymentTypes"
                      [(ngModel)]="payment_type_id"
      >
      </p-selectButton>

      <floating-label *ngIf="payment_type_id == 2"
                      [label]="'Folio de la transacción electrónica'">
        <input type="text"
               [(ngModel)]="card_payment_id"/>
      </floating-label>
    </div>

    <hr>

    <button
      class="btn btn-success btn-block"
      (click)="finish()">Finalizar Venta
    </button>

    <button
      class="btn btn-danger btn-block"
      (click)="clear()">Cancelar Venta
    </button>
  </div>
</div>


<div class="products">

  <div class="branch-view" *ngIf="branch">
    <h6>Sucursal</h6>
    <h4>
      {{branch.name}}
    </h4>
  </div>

  <hr>

  <div class="client-view">
    Cliente: <span class="error" *ngIf="client_status">{{client_status}}</span>
    <span *ngIf="!client_status">{{client && client.fullName}}</span>
  </div>

  <hr>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let productSale of addedProducts">
      <td>{{productSale.inventory.product.id}}</td>
      <td>{{productSale.inventory.product.description}}</td>
      <td class="align-right">{{productSale.inventory.correctPrice | currency:'USD':true:'1.2-2'}}</td>
      <td>
        <input type="number" min="1" [max]="productSale.inventory.quantity"
               [(ngModel)]="productSale.quantity"/>
      </td>
      <td class="align-right">
        {{productSale.quantity * productSale.inventory.correctPrice
        | currency:'USD':true:'1.2-2'}}
        <span class="button-delete"
              (click)="removeProduct(productSale)">
            <i class="fa fa-times"></i>
        </span>
      </td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <td colspan="3"></td>
      <td>Total</td>
      <td class="align-right">
        {{total | currency:'USD':true:'1.2-2'}}
      </td>
    </tr>
    <tr [ngClass]="{ error: clientPayment - total < 0 }">
      <td colspan="3"></td>
      <td>Pago</td>
      <td class="align-right">{{clientPayment | currency:'USD':true:'1.2-2'}}</td>
    </tr>
    <tr [ngClass]="{ error: clientPayment - total < 0 }">
      <td colspan="3"></td>
      <td>Cambio</td>
      <td class="align-right">{{clientPayment - total | currency:'USD':true:'1.2-2'}}</td>
    </tr>
    </tfoot>

  </table>
</div>
