<mat-toolbar class="box">
  <h2>Roles del sistema</h2>
  <button mat-raised-button color="primary"
          *appUserCan="'role-edit'"
          (click)="create()">
    <mat-icon class="fa fa-plus" aria-hidden="true"></mat-icon>
    Agregar rol de sistema
  </button>
</mat-toolbar>

<app-main-content>
  <app-person-item *ngFor="let role of roles"
                   deletePermission="role-delete"
                   (click)="clickUpdate(role)">
    <picture>
      <mat-icon class="fa fa-lock"></mat-icon>
    </picture>
    <div class="data">
      <div>
        <span>{{role.display_name}}</span>
      </div>
    </div>
  </app-person-item>
</app-main-content>

<mat-toolbar class="box">
  <h2>Roles de sucursal</h2>
  <button mat-raised-button color="primary"
          *appUserCan="'branch-role-edit'"
          (click)="createBranchPermission()">
    <mat-icon class="fa fa-plus" aria-hidden="true"></mat-icon>
    Agregar rol de sucursal
  </button>
</mat-toolbar>

<app-main-content>
  <app-person-item *ngFor="let branchRole of branchRoles"
                   deletePermission="branch-role-delete"
                   (click)="updateBranchPermission(branchRole)">
    <picture>
      <mat-icon class="fa fa-lock"></mat-icon>
    </picture>
    <div class="data">
      <div>
        <span>{{branchRole.display_name}}</span>
      </div>
    </div>
  </app-person-item>
</app-main-content>
