<h4 *ngIf="createMode" mat-dialog-title> Añadir rol </h4>
<h4 *ngIf="updateMode" mat-dialog-title> Editar rol </h4>
<h4 *ngIf="deleteMode" mat-dialog-title> Eliminar rol </h4>

<form (ngSubmit)="submit()" ngNativeValidate>
  <mat-dialog-content *ngIf="!deleteMode && !!role">
    <mat-form-field>
      <input matInput placeholder="Código"
             type="text" [(ngModel)]="role.name" name="name"
             [disabled]="locked" required maxlength="255">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nombre"
             type="text" [(ngModel)]="role.display_name" name="display_name"
             [disabled]="locked" required maxlength="255">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Descripción"
             type="text" [(ngModel)]="role.description" name="description"
             [disabled]="locked" required>
    </mat-form-field>

    <div class="permissions">
      <mat-checkbox *ngFor="let permission of permissionList"
                   type="checkbox" [(ngModel)]="permission.checked" [disabled]="locked"
             [ngModelOptions]="{standalone: true}" [id]="'checked'+permission.id">
        {{permission.name}}
      </mat-checkbox>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <ng-template [appUserCan]="'role-edit'">
      <button *ngIf="locked"
              type="submit" mat-raised-button color="warn"
              (click)="unlock()" >
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        Editar rol
      </button>
    </ng-template>
    <button *ngIf="createMode"
            type="submit" mat-raised-button color="accent">
      Crear rol
    </button>
    <button *ngIf="updateMode && !locked"
            type="submit" mat-raised-button color="accent">
      Actualizar rol
    </button>
    <button *ngIf="deleteMode && !locked"
            type="submit" mat-raised-button color="warn">
      Eliminar rol
    </button>
    <button type="button" mat-raised-button
            (click)="close()">
      Cerrar
    </button>
  </mat-dialog-actions>
</form>

