<h4 *ngIf="createMode" md-dialog-title> Añadir rol </h4>
<h4 *ngIf="updateMode" md-dialog-title> Editar rol </h4>
<h4 *ngIf="deleteMode" md-dialog-title> Eliminar rol </h4>

<form (ngSubmit)="submit()" ngNativeValidate>
  <md-dialog-content *ngIf="!deleteMode && !!role">
    <md-input-container>
      <input mdInput placeholder="Código"
             type="text" [(ngModel)]="role.name" name="name"
             [disabled]="locked" required maxlength="255">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Nombre"
             type="text" [(ngModel)]="role.display_name" name="display_name"
             [disabled]="locked" required maxlength="255">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Descripción"
             type="text" [(ngModel)]="role.description" name="description"
             [disabled]="locked" required>
    </md-input-container>

    <div class="permissions">
      <md-checkbox *ngFor="let permission of permissionList"
                   type="checkbox" [(ngModel)]="permission.checked" [disabled]="locked"
             [ngModelOptions]="{standalone: true}" [id]="'checked'+permission.id">
        {{permission.name}}
      </md-checkbox>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <ng-template [appUserCan]="'role-edit'">
      <button *ngIf="locked"
              type="submit" md-raised-button color="warn"
              (click)="unlock()" >
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        Editar rol
      </button>
    </ng-template>
    <button *ngIf="createMode"
            type="submit" md-raised-button color="accent">
      Crear rol
    </button>
    <button *ngIf="updateMode && !locked"
            type="submit" md-raised-button color="accent">
      Actualizar rol
    </button>
    <button *ngIf="deleteMode && !locked"
            type="submit" md-raised-button color="warn">
      Eliminar rol
    </button>
    <button type="button" md-raised-button
            (click)="close()">
      Cerrar
    </button>
  </md-dialog-actions>
</form>

