<modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Usuario</h4>
  </modal-header>
  <modal-body>
    <form class="modal-form" id="editUserForm" *ngIf="user">
      <floating-label [label]="'Código de usuario'">
        <input type="text"  [(ngModel)]="user.username" disabled/>
      </floating-label>
      <floating-label [label]="'Nombre'">
        <input type="text" [(ngModel)]="user.name"/>
      </floating-label>
      <floating-label [label]="'Apellido Paterno'">
        <input class="form-control"
        type="text" placeholder=""
        [(ngModel)]="user.last_name"/>
      </floating-label>
      <floating-label [label]="'Apellido Materno'">
        <input class="form-control"
               type="text" placeholder=""
               [(ngModel)]="user.last_name_2"/>
      </floating-label>
      <floating-label [label]="'Email'">
        <input type="email" [(ngModel)]="user.email"/>
      </floating-label>
      <floating-label [label]="'Teléfono'">
        <input type="text" [(ngModel)]="user.phone"/>
      </floating-label>
      <floating-label [label]="'Celular'">
        <input type="text" [(ngModel)]="user.cellphone"/>
      </floating-label>
      <floating-label [label]="'Dirección'">
        <input type="text" [(ngModel)]="user.address"/>
      </floating-label>
      <floating-label [label]="'RFC'">
        <input type="text" [(ngModel)]="user.rfc"/>
      </floating-label>
    </form>
  </modal-body>
  <modal-footer>
    <button type="button"
            class="btn btn-secondary"
            (click)="update()" >
      Guardar Cambios
    </button>
    <button type="button"
            class="btn btn-primary"
            (click)="close()" >
      Cancelar
    </button>
  </modal-footer>
</modal>
