<h4 mat-dialog-title>
  {{user ? ('common.edit' | translate) : ('common.create' | translate)}}
  {{'user.user' | translate}}
</h4>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content>
    <div class="row">
      <mat-form-field>
        <mat-label>{{'user.userCode' | translate}}</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'user.name' | translate}}</mat-label>
        <input matInput type="text" formControlName="name" >
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'user.lastName' | translate}}</mat-label>
        <input matInput type="text" formControlName="last_name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'user.lastName2' | translate}}</mat-label>
        <input matInput type="text" formControlName="last_name_2">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'user.email' | translate}}</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'user.phone' | translate}}</mat-label>
        <input matInput type="text" formControlName="phone">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'user.cellphone' | translate}}</mat-label>
        <input matInput type="text" formControlName="cellphone">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'user.address' | translate}}</mat-label>
        <input matInput type="text" formControlName="address">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'user.rfc' | translate}}</mat-label>
        <input matInput type="text" formControlName="rfc">
      </mat-form-field>
    </div>

   <div class="row" *ngIf="!user">
     <mat-form-field>
       <mat-label>{{'user.password' | translate}}</mat-label>
       <input matInput
              type="password" name="password"
              formControlName="password">
     </mat-form-field>
     <mat-form-field>
       <mat-label>{{'user.passwordConfirm' | translate}}</mat-label>
       <input matInput type="password"
              formControlName="password_confirmation">
     </mat-form-field>
   </div>
  </mat-dialog-content>


  <mat-dialog-actions>
    <button type="button" mat-raised-button mat-dialog-close>
      {{'common.close' | translate}}
    </button>

    <div class="spacer"></div>

    <ng-template appUserCan="user-create">
      <app-loading-button *ngIf="!user" [loading]="loading"
                          mat-raised-button color="accent">
        {{'common.create' | translate}} {{'user.user' | translate}}
      </app-loading-button>
    </ng-template>

    <ng-template appUserCan="user-edit">
      <app-loading-button *ngIf="user" [loading]="loading"
                          mat-raised-button color="accent">
        {{'common.edit' | translate}} {{'user.user' | translate}}
      </app-loading-button>
    </ng-template>
  </mat-dialog-actions>
</form>

