<h3>
  <i class="fa fa-shopping-cart"></i>
  Iniciar Compra
</h3>

<form (submit)="start()" ngNativeValidate class="dark-theme dark-background" >
  <mat-select [(ngModel)]="formatata.branch" required
             placeholder="Sucursal" name="branch">
    <mat-option *ngFor="let branch of branches" [value]="branch">
      {{branch.name}}
    </mat-option>
  </mat-select>

  <mat-select [(ngModel)]="formatata.supplier" required
             placeholder="Proveedor" name="supplier">
    <mat-option *ngFor="let supplier of suppliers" [value]="supplier">
      {{supplier.name}}
    </mat-option>
  </mat-select>

  <mat-form-field *ngIf="buyEnvironment.invoiceTotalRestriction">
    <input [(ngModel)]="formatata.introducedAmount" name="amount"
           matInput
           placeholder="Total"
           class="dark" type="number" min="0"
           [step]="0.01"  required="required" />
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="formatata.supplierBillID" name="supplierBillID"
           matInput
           placeholder="Número de factura"
           required="required" />
  </mat-form-field>



  <button type="submit"  mat-raised-button color="accent">
    Iniciar Compra
  </button>
</form>


