@import "~src/vars";

:host{
  background-color: $backgroundDark;
  padding: 1em;
  border-radius: 1em;
}

h3{
  text-align: center;
  color: white;
  font-size: 2em;
}

form{
  display: flex;
  flex-direction: column;
  color: white;
}
