<h3>
  <i class="fa fa-shopping-cart"></i>
  Iniciar Compra
</h3>

<form (ngSubmit)="start()" autocomplete="off"
      [formGroup]="form" class="dark-theme">
  <mat-form-field>
    <mat-select formControlName="branch"
                placeholder="Sucursal">
      <mat-option *ngFor="let branch of branches" [value]="branch">
        {{branch.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="supplier"
                placeholder="Proveedor">
      <mat-option *ngFor="let supplier of suppliers" [value]="supplier">
        {{supplier.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="buyEnvironment.invoiceTotalRestriction">
    <input formControlName="introduced_amount"
           matInput placeholder="Total" type="number" min="0"
           [step]="0.01"/>
    <mat-icon matPrefix>attach_money</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="supplier_bill_id"
           matInput placeholder="Número de factura"/>
  </mat-form-field>

  <button type="submit" mat-raised-button color="accent">
    Iniciar Compra
  </button>
</form>


