<h4 *ngIf="updateMode" md-dialog-title>
  Editar Sucursal
</h4>
<form (ngSubmit)="submit()" ngNativeValidate>
  <md-dialog-content>
    <md-input-container *ngIf="updateMode">
      <input mdInput placeholder="Id" type="number" [(ngModel)]="branch.id" name="id"
             disabled="disabled">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Nombre"
             [(ngModel)]="branch.name" name="name"
             [disabled]="locked" [required]="true">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Descripción"
             [(ngModel)]="branch.description" name="description"
             [disabled]="locked">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Dirección"
             [(ngModel)]="branch.address" name="address"
             [disabled]="locked">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Título del ticket"
             [(ngModel)]="branch.title_ticket" name="title_ticket"
             [disabled]="locked">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Encabezado de ticket"
             [(ngModel)]="branch.header_ticket" name="header_ticket"
             [disabled]="locked">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Pie de ticket"
             [(ngModel)]="branch.footer_ticket" name="footer_ticket"
             [disabled]="locked">
    </md-input-container>

    <input class="input-picture"  placeholder="Imagen"
           imageUpload (imageSelected)="selected($event)"
           accept="image/*" name="picture" type="file"
           [disabled]="locked">

      <section *ngIf="src" class="picture-container">
        <picture [ngStyle]="{
                      'background-image' : 'url('+src+')'
                    }"></picture>
      </section>
  </md-dialog-content>

  <md-dialog-actions>
    <ng-container *appUserCanInBranch="'branch-edit'; branchId: branch.id">
      <button *ngIf="locked"
              type="submit" md-raised-button color="warn"
              (click)="unlock()" >
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        Editar Sucursal
      </button>
    </ng-container>
    <button *ngIf="updateMode && !locked"
            type="submit" md-raised-button color="accent" >
      Actualizar Sucursal
    </button>
    <button type="button" md-raised-button md-dialog-close>
      Cerrar
    </button>
  </md-dialog-actions>
</form>


