<h4 *ngIf="updateMode" mat-dialog-title>
  Editar Sucursal
</h4>
<form (ngSubmit)="submit()" ngNativeValidate>
  <mat-dialog-content>
    <mat-form-field *ngIf="updateMode">
      <input matInput placeholder="Id" type="number" [(ngModel)]="branch.id" name="id"
             disabled="disabled">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nombre"
             [(ngModel)]="branch.name" name="name"
             [disabled]="locked" [required]="true">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Descripción"
             [(ngModel)]="branch.description" name="description"
             [disabled]="locked">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Dirección"
             [(ngModel)]="branch.address" name="address"
             [disabled]="locked">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Título del ticket"
             [(ngModel)]="branch.title_ticket" name="title_ticket"
             [disabled]="locked">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Encabezado de ticket"
             [(ngModel)]="branch.header_ticket" name="header_ticket"
             [disabled]="locked">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Pie de ticket"
             [(ngModel)]="branch.footer_ticket" name="footer_ticket"
             [disabled]="locked">
    </mat-form-field>

    <input class="input-picture"  placeholder="Imagen"
           imageUpload (imageSelected)="selected($event)"
           accept="image/*" name="picture" type="file"
           [disabled]="locked">

      <section *ngIf="src" class="picture-container">
        <picture [ngStyle]="{
                      'background-image' : 'url('+src+')'
                    }"></picture>
      </section>
  </mat-dialog-content>

  <mat-dialog-actions>
    <ng-container *appUserCanInBranch="'branch-edit'; branchId: branch.id">
      <button *ngIf="locked"
              type="submit" mat-raised-button color="warn"
              (click)="unlock()" >
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        Editar Sucursal
      </button>
    </ng-container>
    <button *ngIf="updateMode && !locked"
            type="submit" mat-raised-button color="accent" >
      Actualizar Sucursal
    </button>
    <button type="button" mat-raised-button mat-dialog-close>
      Cerrar
    </button>
  </mat-dialog-actions>
</form>


