<mat-toolbar class="box">
  <mat-toolbar-row>
    <button *appUserCan="'supplier-create'"
            mat-raised-button color="primary"
            (click)="create()">
      <mat-icon class="fa fa-user-secret"></mat-icon>
      Agregar Proveedor
    </button>
    <button *appUserCan="'supplier-category-create'"
            mat-raised-button color="primary"
            (click)="openSupplierCategoryDialog()">
      <mat-icon class="fa fa-list" aria-hidden="true"></mat-icon>
      Categorias de proveedores
    </button>
    <button *appUserCan="'brand-create'"
            mat-raised-button color="primary"
            (click)="openBrandDialog()">
      <mat-icon class="fa fa-list" aria-hidden="true"></mat-icon>
      Marcas
    </button>
    <mat-checkbox [formControl]="deletedControl" *appUserCan="'product-delete'">
      <mat-icon class="fa fa-trash"></mat-icon>
      Ver eliminados
    </mat-checkbox>
  </mat-toolbar-row>

  <mat-toolbar-row [formGroup]="form">
    <mat-icon class="fa fa-filter" aria-hidden="true"></mat-icon>

    <mat-form-field class="small">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>

    <mat-form-field class="medium">
      <mat-label>Categoría de proveedor</mat-label>
      <mat-select formControlName="supplier_category_id">
        <mat-option [value]="null"> Todas</mat-option>
        <mat-option *ngFor="let category of categories | async"
                    [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="medium">
      <mat-label>Marca</mat-label>
      <mat-select formControlName="brands">
        <mat-option [value]="null">Todas</mat-option>
        <mat-option *ngFor="let brand of brands | async" [value]="brand.id">
          {{brand.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>


<app-main-content>
  <app-supplier-item *ngFor="let supplier of dataSourceObservable | async"
                     [supplier]="supplier"
                     (update)="update($event)"
                     (restore)="restore($event)"
                     (delete)="delete($event)"
  ></app-supplier-item>
</app-main-content>
