<h4 mat-dialog-title>
  {{supplier ? ('common.edit' | translate) : ('common.create' | translate)}}
  {{'supplier.supplier' | translate}}
</h4>
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content>
    <div class="row">
      <mat-form-field *ngIf="supplier">
        <mat-label>{{'supplier.id' | translate}}</mat-label>
        <input matInput [value]="supplier.id" disabled>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'supplier.name' | translate}}</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'supplier.email' | translate}}</mat-label>
        <input matInput
               type="email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'supplier.phone' | translate}}</mat-label>
        <input matInput
               type="text" formControlName="phone">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'supplier.cellphone' | translate}}</mat-label>
        <input matInput
               type="text" formControlName="cellphone">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'supplier.address' | translate}}</mat-label>
        <input matInput
               type="text" formControlName="address">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'supplier.rfc' | translate}}</mat-label>
        <input matInput
               type="text" formControlName="rfc">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'supplier.supplierCategory' | translate}}</mat-label>
        <mat-select formControlName="supplier_category_id">
          <mat-option *ngFor="let supplierCategory of supplierCategories"
                      [value]="supplierCategory.id">
            {{supplierCategory.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="row">
      <mat-form-field>
        <mat-label>{{'supplier.brands' | translate}}</mat-label>
        <mat-select formControlName="brands" [multiple]="true">
          <mat-option *ngFor="let brand of brands" [value]="brand.id">
            {{brand.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


  </mat-dialog-content>


  <mat-dialog-actions>
    <button type="button" mat-raised-button mat-dialog-close>
      {{'common.close' | translate}}
    </button>

    <div class="spacer"></div>

    <ng-template appUserCan="supplier-create">
      <app-loading-button *ngIf="!supplier" [loading]="loading"
                          mat-raised-button color="accent">
        {{'common.create' | translate}} {{'supplier.supplier' | translate}}
      </app-loading-button>
    </ng-template>

    <ng-template appUserCan="supplier-edit">
      <app-loading-button *ngIf="supplier" [loading]="loading"
                          mat-raised-button color="accent">
        {{'common.edit' | translate}} {{'supplier.supplier' | translate}}
      </app-loading-button>
    </ng-template>
  </mat-dialog-actions>
</form>

