@import "~src/vars";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-nav-list {
  width: 100%;
  max-width: $smWidth;

  h2 {
    padding-left: .5em;
    margin: .5em 0;
  }

  a {
    font-weight: bolder;
  }
}
