@import "~src/vars";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;

  .wrapper {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .form-signin {
      display: flex;
      flex-direction: column;
      max-width: 320px;
      padding: 1em;
      align-items: center;

      img {
        padding: .5em;
        background-color: $primaryColor;
        border-radius: .25em;
        margin-bottom: .5em;
      }
    }
  }
}
