<div class="wrapper">
  <form class="form-signin box" [formGroup]="form"
        (ngSubmit)="onSubmit()" ngNativeValidate>
    <img src="/assets/images/logo_white.png"/>

    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input matInput
             formControlName="username" name="username"
             [autofocus]="true" required="required">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput
             formControlName="password" name="password"
             required="required" type="password">
    </mat-form-field>
    <app-loading-button [loading]="loading">
      Iniciar Sesión
    </app-loading-button>
  </form>
</div>

