@import "~src/vars";

app-main-content{
  padding: 10px;

  table {
    width: 100%;

    th, td{
      word-wrap: break-word;
    }

    tr:hover td{
      background-color: $secondaryLighterColor;
      cursor: pointer;
    }
  }
}

td {
  [mat-icon-button] {
    width: 2.5em;
    height: 2.5em;
    line-height: 1em;
    margin: .2em;

    mat-icon {
      margin: 0;
      line-height: 1em;
      font-size: 1.25em;
    }
  }
}
