<app-search-bar>
  <button *appUserCan="'product-create'"
          mat-raised-button color="primary"
          (click)="clickCreate()">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Agregar Producto
  </button>
  <button *appUserCan="'category-create'"
          mat-raised-button color="primary"
          (click)="openCategoryDialog()">
    <i class="fa fa-list" aria-hidden="true"></i>
    Categorias
  </button>
  <button *appUserCan="'brand-create'"
          mat-raised-button color="primary"
          (click)="openBrandDialog()">
    <i class="fa fa-list" aria-hidden="true"></i>
    Marcas
  </button>
  <mat-checkbox [formControl]="deletedControl" *appUserCan="'product-delete'" class="dark-theme">
    <i class="fa fa-trash"></i>
    Ver eliminados
  </mat-checkbox>
</app-search-bar>
<app-search-bar class="dark-theme">
  <form [formGroup]="form">
    <i class="fa fa-filter" aria-hidden="true"></i>

    <mat-form-field class="small">
      <input matInput formControlName="id" placeholder="ID">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="description" placeholder="Descripción">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="bar_code" placeholder="Código de barras">
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="categories" placeholder="Categoría">
        <mat-option [value]="null"> Todas </mat-option>
        <mat-option *ngFor="let category of categories | async" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="brand" placeholder="Marca">
        <mat-option [value]="null"> Todas </mat-option>
        <mat-option *ngFor="let brand of brands | async" [value]="brand.id">
          {{brand.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="small">
      <input matInput formControlName="minimum" placeholder="Mínimo">
    </mat-form-field>

    <mat-form-field  class="small">
      <input matInput formControlName="price" placeholder="Precio">
    </mat-form-field>

    <mat-form-field class="medium">
      <mat-select formControlName="unit" placeholder="Unidad">
        <mat-option [value]="null"> Todas </mat-option>
        <mat-option *ngFor="let unit of units" [value]="unit.id">
          {{unit.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</app-search-bar>

<app-main-content>

  <div class="table-container mat-elevation-z8">
    <mat-paginator #paginator
                  [length]="dataSource ? dataSource.data.length : []"
                  [pageIndex]="0"
                  [pageSize]="50"
                  [pageSizeOptions]="[50, 100, 200, 500, 1000, 10000]">
    </mat-paginator>
    <table matSort>
      <thead>
      <tr>
        <th mat-sort-header="id">ID</th>
        <th mat-sort-header="description">Descripción</th>
        <th mat-sort-header="bar_code">Código de barras</th>
        <th mat-sort-header="categories" class="hide-on-small">Categorías</th>
        <th mat-sort-header="brand" class="hide-on-small">Marca</th>
        <th mat-sort-header="global_minimum" class="hide-on-small">Mínimo Global</th>
        <th mat-sort-header="price">Precio</th>
        <th mat-sort-header="unit" class="hide-on-small">Unidad</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of dataSourceObservable | async"  (click)="clickUpdate(product)">
        <td>{{product.id}}</td>
        <td>{{product.description}}</td>
        <td>{{product.bar_code}}</td>
        <td class="hide-on-small">
          {{product.toStringCategories()}}
        </td>
        <td class="hide-on-small">
          <span *ngIf="product.brand">
            {{product.brand.name}}
          </span>
        </td>
        <td class="hide-on-small">
          {{product.global_minimum }}
        </td>
        <td>
          {{product.global_price | myCurrency}}
        </td>
        <td class="hide-on-small">
          <span *ngIf="product.unit">
            {{product.unit.name}}
          </span>
        </td>
        <td *appUserCan="'product-delete'">
          <div class="button-modify" *ngIf="product.deleted_at; else notDeleted"
               (click)="clickRestore($event, product)">
            <i class="fa fa-recycle" aria-hidden="true"></i>
          </div>
          <ng-template #notDeleted>
            <div class="button-delete"
                 (click)="clickDelete($event, product)">
              <i class="fa fa-trash" ></i>
            </div>
          </ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-main-content>
