<form (ngSubmit)="confirm()" ngNativeValidate
      (keydown.enter)="$event.preventDefault()">
  <div class="left dark-theme">
    <div class="client">
      <h5>Cliente</h5>
      <div class="searchable-input">
        <md-input-container>
          <input mdInput [(ngModel)]="client_id"
                 name="client_id" type="number"
                 [min]="1" [formControl]="clientIdControl" class="dark"
                 tabindex="5" autocomplete="off"
                 placeholder="ID de cliente" required />
        </md-input-container>
        <app-client-search (selected)="client_id = $event.id"></app-client-search>
      </div>
     <hr/>
    </div>

    <div class="search">
      <app-find-product (selectedProduct)="addProduct($event)"
                        tab_index="6"
                        [branch_id]="branch_id">
      </app-find-product>
      <hr/>
    </div>

    <div class="finish">
      <md-input-container>
        <input mdInput placeholder="Pago"
               [(ngModel)]="payment" name="clientPayment" class="dark"
               tab_index="7" step=".01"
               [type]="'number'" [min]="total"
               required >
      </md-input-container>
      <hr>

      <app-payment-type
        [selectedPaymentType]="selectedPaymentType"
      ></app-payment-type>

      <hr>

      <md-checkbox [(ngModel)]="print" name="print">
        <i class="fa fa-print" aria-hidden="true"></i>
        Imprimir ticket
      </md-checkbox>

      <hr>

      <div class="btn-group">
        <button md-raised-button color="warn" (click)="cancel()">
          Cancelar Venta
        </button>
        <button md-raised-button color="accent" accesskey="f">
          Finalizar Venta
        </button>
      </div>
    </div>
  </div>


  <div class="right">
    <div class="branch-view" *ngIf="branch">
      <h6>Sucursal</h6>
      <h4>
        {{branch.name}}
      </h4>
    </div>
    <hr>
    <div class="client-view">
      Cliente: <span class="error" *ngIf="client_status">{{client_status}}</span>
      <span *ngIf="!client_status">{{client && client.fullName}}</span>
    </div>
    <hr/>
    <app-inventory-cart
      [(addedProducts)]="addedProducts"
      [(payment)]="payment"
    ></app-inventory-cart>
  </div>
</form>
