$darkBlue : #082B36;
$hoverBlue : #06495E;

$mainContentBackgroundColor : #556A70;

$backgroundDark : $darkBlue;

$smScreen: 576px;
$mdScreen: 768px;
$lgScreen: 992px;
$xlgScreen: 1200px;


.form-dialog{
  md-select{
    margin-top: 1em;
    margin-bottom: 1em;
  }

  md-dialog-content{
    display: flex;
    flex-direction: column;
  }
}

