<app-popover [focusable]="focusable">
  <form>
    <md-input-container class="dark-theme">
      <input mdInput placeholder="Nombre"
             [(ngModel)]="name" class="dark" type="text"
             [formControl]="nameControl" #focusable>
    </md-input-container>
  </form>

  <app-selectable [items]="suppliers"
                  [loading]="loading"
                  (selected)="select($event)"
                  (keydown)="selectable.keydown($event)">
    <ng-template let-item="item">
      {{item.id}} - {{item.name}} {{item.last_name}} {{item.last_name_2}}
    </ng-template>
  </app-selectable>
</app-popover>
