<modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Añadir Usuario</h4>
  </modal-header>
  <modal-body>
    <form class="modal-form" *ngIf="user">
      <input class="form-control" type="text" placeholder="Código de usuario"
             [(ngModel)]="user.username"/>
      <input class="form-control" type="text" placeholder="Nombre"
             [(ngModel)]="user.name"/>
      <input class="form-control" type="text" placeholder="Apellido Paterno"
             [(ngModel)]="user.last_name"/>
      <input class="form-control" type="text" placeholder="Apellido Materno"
             [(ngModel)]="user.last_name_2"/>
      <input class="form-control" type="password" placeholder="Contraseña"
             [(ngModel)]="user.password"/>
      <input class="form-control" type="password" placeholder="Confirmar contraseña"
             [(ngModel)]="password_confirm"/>
    </form>
  </modal-body>
  <modal-footer>
    <button type="submit"
            class="btn btn-success"
            (click)="create()" >
      Aceptar
    </button>
    <button type="button"
            class="btn btn-primary btn-close-modal"
            (click)="close()" >
      Close
    </button>
  </modal-footer>
</modal>
