<modal>
  <modal-header [show-close]="true">
    <h4> Añadir Usuario</h4>
  </modal-header>
  <modal-body>
    <form *ngIf="user">
      <floating-label [label]="'Código de usuario'">
        <input type="text"  [(ngModel)]="user.username" required/>
      </floating-label>
      <floating-label [label]="'Nombre'">
        <input type="text" [(ngModel)]="user.name"/>
      </floating-label>
      <floating-label [label]="'Apellido Paterno'">
        <input type="text" [(ngModel)]="user.last_name" required/>
      </floating-label>
      <floating-label [label]="'Apellido Materno'">
        <input type="text" [(ngModel)]="user.last_name_2"/>
      </floating-label>
      <floating-label [label]="'Contraseña'">
        <input type="password" [(ngModel)]="user.password"/>
      </floating-label>
      <floating-label [label]="'Confirmar contraseña'">
        <input  type="password" [(ngModel)]="password_confirm"/>
      </floating-label>
    </form>
  </modal-body>
  <modal-footer>
    <button type="submit"
            class="btn btn-success"
            (click)="create()" >
      Aceptar
    </button>
    <button type="button"
            class="btn btn-primary btn-close-modal"
            (click)="close()" >
      Close
    </button>
  </modal-footer>
</modal>
