<mat-toolbar class="box">
  <mat-toolbar-row [formGroup]="form">
    <mat-icon class="fa fa-filter" aria-hidden="true"></mat-icon>

    <mat-form-field class="small">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Producto</mat-label>
      <input matInput formControlName="product">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Código de barras</mat-label>
      <input matInput formControlName="bar_code">
      <mat-icon matSuffix class="fa fa-barcode"></mat-icon>
    </mat-form-field>

    <mat-form-field class="medium">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categories">
        <mat-option [value]="null"> Todas</mat-option>
        <mat-option *ngFor="let category of categories | async"
                    [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="medium">
      <mat-label>Marca</mat-label>
      <mat-select formControlName="brand">
        <mat-option [value]="null"> Todas</mat-option>
        <mat-option *ngFor="let brand of brands | async" [value]="brand.id">
          {{brand.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="medium">
      <mat-label>Mínimo</mat-label>
      <input matInput formControlName="minimum">
    </mat-form-field>

    <mat-form-field class="medium">
      <mat-label>Cantidad</mat-label>
      <input matInput formControlName="quantity">
    </mat-form-field>

    <mat-form-field class="medium">
      <mat-label>Precio de sucursal</mat-label>
      <input matInput formControlName="branchPrice">
    </mat-form-field>

    <mat-form-field class="medium">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="globalPrice"/>
    </mat-form-field>

    <mat-form-field class="medium">
      <mat-label>Último costo</mat-label>
      <input matInput formControlName="lastCost"/>
    </mat-form-field>

    <mat-form-field class="small">
      <mat-label>Unidad</mat-label>
      <mat-select formControlName="unit">
        <mat-option [value]="null"> Todas</mat-option>
        <mat-option *ngFor="let unit of units" [value]="unit.id">
          {{unit.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="minimum_filter">
      Filtro de mínimos
    </mat-checkbox>
  </mat-toolbar-row>
</mat-toolbar>
<app-main-content>
  <div class="table-container mat-elevation-z8">
    <mat-paginator #paginator
                   [length]="dataSource ? dataSource.filteredData.length : []"
                   [pageIndex]="0"
                   [pageSize]="50"
                   [pageSizeOptions]="[50, 100, 200, 500, 1000, 10000]">
    </mat-paginator>

    <table class="responsive" mat-table matSort
           [dataSource]="dataSourceObservable">

      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let inventory"> {{inventory.product.id}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Descripción</th>
        <td mat-cell
            *matCellDef="let inventory"> {{inventory.product.description}} </td>
      </ng-container>

      <ng-container matColumnDef="bar_code">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          Código de barras
        </th>
        <td mat-cell
            *matCellDef="let inventory"> {{inventory.product.bar_code}} </td>
      </ng-container>

      <ng-container matColumnDef="categories">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Categorías</th>
        <td mat-cell
            *matCellDef="let inventory"> {{inventory.product.toStringCategories()}} </td>
      </ng-container>

      <ng-container matColumnDef="brand">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Marca</th>
        <td mat-cell *matCellDef="let inventory">
      <span *ngIf="inventory.brand">
          {{inventory.product.brand ? inventory.product.brand.name : ''}}
        </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="minimum">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Mínimo de
          unidades
        </th>
        <td mat-cell
            *matCellDef="let inventory"> {{inventory.current_minimum}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Cantidad actual
        </th>
        <td mat-cell *matCellDef="let inventory"> {{inventory.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="branchPrice">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Precio de
          sucursal
        </th>
        <td mat-cell *matCellDef="let inventory"> {{inventory.price}} </td>
      </ng-container>

      <ng-container matColumnDef="globalPrice">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Precio Global
        </th>
        <td mat-cell
            *matCellDef="let inventory"> {{inventory.product.price}} </td>
      </ng-container>

      <ng-container matColumnDef="lastCost">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Último costo</th>
        <td mat-cell *matCellDef="let inventory">
          <ng-container *ngIf="inventory.last_cost">
            {{inventory.last_cost | myCurrency}}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="unit">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Tipo de unidad
        </th>
        <td mat-cell *matCellDef="let inventory">
          {{inventory.product.unit.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let inventory">
          <button mat-icon-button mat-raised-button color="accent"
                  *appUserCanInBranch="'inventory-edit'"
                  (click)="clickUpdate($event, inventory)">
            <mat-icon class="fa fa-exchange"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="openUpdateDialog(row)"
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
</app-main-content>


