<app-popover [focusable]="focusable">
  <form>
    <md-input-container>
      <input mdInput [(ngModel)]="name" placeholder="Nombre"
             type="text"
             [formControl]="nameControl" #focusable>
    </md-input-container>
  </form>

  <app-selectable [items]="products"
                  [loading]="loading"
                  (selected)="select($event)"
                  (keydown)="selectable.keydown($event)">
    <ng-template let-item="item">
      {{item.id}} - {{item.description}}
    </ng-template>
  </app-selectable>
</app-popover>
