@import "~app/vars";

:host{
  position:relative;
  display: inline-flex;
  flex-direction: column;
}

md-input-container{
  flex: 1 0 0;
}

.search-list{
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 100%;
  left: 0;
  max-height: 50vh;
  overflow-y: auto;
  z-index: 10;
  border: 2px solid white;
  box-shadow: black 10px 10px 50px;
  background-color: $darkBlue;
  border-radius: 1em;

  table{
    width: 100%;
    list-style: none;

    tbody{
      width: 100%;
      max-height: 40vh;
      overflow-y: auto;
    }
    tr{
      border-bottom: 1px solid steelblue;

      &:hover, &.selected{
        background-color: $hoverBlue;;
        cursor: pointer;
      }

      &.searching, &.empty{
        text-align: center;
      }

      td{
        padding: .2em;
      }
    }

  }

}
