@import "~src/vars";

ul{
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    display: flex;
    flex-direction: column;
    background-color: $darkBlue;
    border-radius: 1em;
    border: dashed 2px white;
    text-align: center;
    margin: .5em;
    transition: all .25s;

    &:hover{
      background-color: $hoverBlue;
      cursor: pointer;
    }

    a{
      flex: 1 0 auto;
      color: white;
      padding: .5em;
      font-size: 1.5em;
    }
  }
}
