:host{
  display: flex;
  flex-direction: column;
  background-color: #082B36;
  flex: 0 1 160px;
  overflow-y: auto;
  padding: 5px 0 5px 5px;
}

:host /deep/{
  ul{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      flex: 1;
      flex-basis: 25px;
      align-items: stretch;
      max-height: 50px;

      a{
        position:relative;
        display: flex;
        flex: 1 0 auto;
        //justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        background-color: #556A70;
        padding: 10px;
        margin-right: 5px;
        margin-bottom: 1px;
        font-weight: bolder;

        transition: .25s all;

        &:hover {
          background-color: #758A90;
          border-color: #ADADAD;
        }

        &.active{
          color: #333;
          background-color: #AAB6BA;
          border-color: #ADADAD;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          margin-right: 0;
        }

        span{
          padding-left: 5%;
        }

        i{
          font-size: 1.5em;

        }
      }
    }
  }
}
