<header>
  <picture>
  </picture>
  <div id="hidden-bar-div"> </div>
  <div id="sesion-menu-bar">
    <div>
      <span>{{username}}</span>
    </div>
    <div>
      <span>
        Hora de inicio:
        <span id="turno">
          {{time}}
        </span>
      </span>
    </div>
    <button type="button" class="btn btn-info" (click)="logout()">
      Cerrar sesión
    </button>
  </div>
</header>
<div id="body-content">
  <aside>
    <button *ngFor="#option of options" type="button" class="btn btn-info">
      {{option}}
    </button>
  </aside>
  <main>
  </main>
</div>