<header>
  <picture>
    <img src="img/logo.jpg"/>
  </picture>
  <div id="hidden-bar-div"> </div>
  <div id="sesion-menu-bar">
    <div>
      <span id="user-menu-bar">Pepe pequitas</span>
    </div>
    <div>
      <span id="time-menu-bar">Hora de inicio:<span id="turno">8:00am</span></span>
    </div>
    <button type="button" class="btn btn-info">
      Cerrar sesión
    </button>
  </div>
</header>
<div id="body-content">
  <aside>
    <button type="button" class="btn btn-info">
      Ventas
    </button>
    <button type="button" class="btn btn-info">
      Compras
    </button>
    <button type="button" class="btn btn-info">
      Inventario
    </button>
    <button type="button" class="btn btn-info">
      Producto
    </button>
    <button type="button" class="btn btn-info">
      Clientes
    </button>
    <button type="button" class="btn btn-info">
      Provedores
    </button>
    <button type="button" class="btn btn-info">
      User
    </button>
    <button type="button" class="btn btn-info">
      Permisos
    </button>
    <button type="button" class="btn btn-info">
      Sucursales
    </button>
    <button type="button" class="btn btn-info">
      Reportes
    </button>
  </aside>
  <main>
  </main>
</div>