@import "~src/vars";

form {
  display: flex;
  flex-direction: column;
}

mat-form-field{
  /deep/ .mat-input-wrapper {
    margin: .5em 0;

    @media (min-width: $smWidth) {
      margin: 1em 0;
    }
  }
}

.row {
  display: flex;

  .product-id {
    flex: 0 0 4em;
    width: 4em;
    margin-right: .2em;
  }

  app-product-search, app-inventory-search {
    flex: 1;
  }
}
