@import "~src/vars";

:host{
  display: flex;
  flex-direction: column;
}

md-input-container{
  /deep/ .mat-input-wrapper {
    margin: .5em 0;

    @media (min-width: $smScreen) {
      margin: 1em 0;
    }
  }
}
