<form [formGroup]="form">
  <h5>Añadir Producto</h5>

  <mat-form-field>
    <mat-label>Código de barras</mat-label>
    <input matInput formControlName="bar_code"
           (keyup.enter)="barCodeEntered()"
           autocomplete="off"
           #barCodeInput [tabindex]="tab_index" />
    <mat-icon matSuffix class="fa fa-barcode"></mat-icon>
  </mat-form-field>

  <div class="row">
    <mat-form-field class="product-id">
      <mat-label>Id</mat-label>
      <input matInput formControlName="product_id"
             name="product_id" type="number"
             autocomplete="off"
             [min]="1" [step]="1" [tabindex]="tab_index"
             (keyup.enter)="productIdEntered()">
    </mat-form-field>

    <app-product-search *ngIf="mode === 'product'"
                        [tab_index]="tab_index"
                        formControlName="search"></app-product-search>
    <app-inventory-search *ngIf="mode === 'inventory'"
                          [branch_id]="branch_id"
                          [tab_index]="tab_index"
                          formControlName="search"></app-inventory-search>
  </div>
</form>
