<div class="spacer"></div>
<app-logo></app-logo>
<div id="hidden-bar-div"></div>
<div id="session-menu-bar">
  <a mat-button
     matTooltip="Información de usuario"
     routerLink="/mi-cuenta" routerLinkActive="active">
    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
    <span *ngIf="user" class="hide-on-small">
      {{user.username}}
      <br>
      {{user.fullName}}
    </span>
  </a>
  <div>
    <button type="button" mat-button
            [class.disabled]="!schedule"
            (click)="openEndScheduleModal()"
            [matTooltip]="schedule ? 'Turno en sucursal ' + schedule.branch.name
                          : 'No se ha iniciado turno'">
      <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
      <span class="hide-on-small" *ngIf="schedule">
        Inicio: {{schedule.created_at | date:'medium'}}
        <br>
        Sucursal: {{schedule.branch.name}}
      </span>
    </button>
  </div>
  <div>
    <button type="button"
            mat-button
            matTooltip="Cerrar sesión" (click)="logout()">
      <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
      <span class="hide-on-small">
        Cerrar Sesión
      </span>
    </button>
  </div>
</div>


