<div class="spacer"></div>
<app-logo></app-logo>
<div id="hidden-bar-div"></div>
<div id="session-menu-bar">
  <a mat-button
     matTooltip="Información de usuario"
     routerLink="/mi-cuenta" routerLinkActive="active">
    <mat-icon class="fa fa-user fa-2x" aria-hidden="true"></mat-icon>
    <span *ngIf="user" class="hide-on-small">
      {{user.username}}
      <br>
      {{user.fullName}}
    </span>
  </a>

  <button type="button" mat-button
          [disabled]="!schedule"
          (click)="openEndScheduleModal()">
    <mat-icon  class="fa fa-clock-o fa-2x"
      [matTooltip]="schedule ? 'Turno en sucursal ' + schedule.branch.name
                        : 'No se ha iniciado turno'"></mat-icon>
    <span class="hide-on-small" *ngIf="schedule">
      Inicio: {{schedule.created_at | date:'medium'}}
      <br>
      Sucursal: {{schedule.branch.name}}
    </span>
  </button>

  <div>
    <button type="button"
            mat-button
            matTooltip="Cerrar sesión" (click)="logout()">
      <mat-icon class="fa fa-sign-out fa-2x" aria-hidden="true"></mat-icon>
      <span class="hide-on-small">
        Cerrar Sesión
      </span>
    </button>
  </div>
</div>


