@import "~src/vars";

:host {
  display: flex;
  height: 50px;
  background-color: #082B36;
  color: white;
  margin: 0;
  align-items: stretch;
  justify-content: space-between;
  top: 0;
  line-height: 1em;
  z-index: 10;
}

#session-menu-bar {
  display: flex;
  align-items: center;

  .header-texts {
    display: flex;
    align-self: stretch;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
  }
}


.nav-toggle {
  font-size: 2em;
  min-width: 2em;
  background: transparent;
}

[mat-raised-button] {
  line-height: 1em;
}

button[disabled] {
  color: gray !important;
}

.mat-button {
  div, span {
    line-height: 1em;
    display: none;

    @media (min-width: $smScreen) {
      display: inline-block;
    }
  }
}
