<div class="flex-container">
  <div class="wrapper">
    <div class="logo">
      <span>
        <img src="/images/logo_white.png" />
      </span>
    </div>

    <form class="form-signin" (ngSubmit)="onSubmit()">
      <input-label [(ngModel)]="username" name="username"
                   [autofocus]="true" required="required">
        Usuario
      </input-label>
     <input-label [(ngModel)]="password" name="password"
                  required="required" [type]="'password'">
       Contraseña
     </input-label>
      <button class="btn btn-primary btn-block"
              type="submit">Iniciar Sesión</button>
    </form>
  </div>
</div>

