<div class="flex-container">
  <div class="wrapper">
    <div class="logo">
      <span>
        <img src="/images/logo_white.png" />
      </span>
    </div>

    <form class="form-signin" (ngSubmit)="onSubmit()">
      <floating-label [label]="'Usuario'">
        <input class="no-check" type="text" required="required" autofocus="autofocus"
          [(ngModel)]="username"/>
      </floating-label>
      <floating-label [label]="'Contraseña'">
        <input class="no-check" type="password" required="required" [(ngModel)]="password" />
      </floating-label>
      <button class="btn btn-primary btn-block"
              type="submit">Iniciar Sesión</button>
    </form>
  </div>
</div>

