.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;

  .wrapper {
    width: 400px;

    .logo{
      text-align: center;
      margin: 1em;

      span{
        display: inline-block;
        background-color: #556A70;
        border-radius: 1em;

        img{
          margin: 1em;
        }
      }
    }

    .form-signin {
      max-width: 380px;
      padding: 15px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 1em;
      overflow: hidden;
      button{
        margin-top: 1em;
        float: right;
      }
    }
  }
}
