<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Código de barras</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Subtotal</th>
  </tr>
  </thead>
  <tbody>
    <app-product-cart-row [productSale]="productSale"
                          (remove)="removeProduct($event)"
                          *ngFor="let productSale of addedProducts"></app-product-cart-row>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="4"></td>
    <td>Total</td>
    <td class="align-right">
      {{total | currency:'USD':true:'1.2-2'}}
    </td>
  </tr>
  <tr [ngClass]="{ error: paymentChange < 0 }">
    <td colspan="4"></td>
    <td>Pago</td>
    <td class="align-right">{{ payment-0 | currency:'USD':true:'1.2-2'}}</td>
  </tr>
  <tr [ngClass]="{ error: paymentChange < 0 }">
    <td colspan="4"></td>
    <td>Cambio</td>
    <td class="align-right">{{paymentChange | currency:'USD':true:'1.2-2'}}</td>
  </tr>
  </tfoot>

</table>
