table{
  width: 100%;
  border-collapse: separate;

  td,th{
    padding: .5em;
    &.align-right{
      text-align: right;
    }
  }

  /deep/ tr{
    td{
      background-color: #082B36;
    }
    &:hover td{
      background-color: #06495E ;
    }
  }

  thead{
    tr{
      color: #fff;
      td{
        border: 2px #082B36 solid;
        text-align: center;
      }
    }
  }
}

