<app-popover [focusable]="focusable">
  <form ngNativeValidate>
    <md-input-container>
      <input mdInput [(ngModel)]="name" type="text"
             placeholder="Nombre"
             [formControl]="nameControl" #focusable>
    </md-input-container>
  </form>

  <app-selectable [items]="clients"
                  [loading]="loading"
                  (selected)="select($event)"
                  (keydown)="selectable.keydown($event)">
    <ng-template let-item="item">
      {{item.id}} - {{item.name}} {{item.last_name}} {{item.last_name_2}}
    </ng-template>
  </app-selectable>
</app-popover>
