:host{
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  flex-direction: row;
  background-color: #556A70;
  margin: 5px;
  min-height: 170px;
  overflow-y: auto;
  overflow-x: inherit;
  border-radius: 4px;
  justify-content: space-around;
  align-content: flex-start;
}
