@import "~src/vars";

:host{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host::after {
  content: "";
  background-image: url(/assets/images/logo_white.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

:host ::ng-deep app-aside-nav {
  a {
    background-color: $primaryDarkColor;
    margin-bottom: .25em;
    border-bottom: 0;
    &.active, &:focus {
      color: $primaryDarkerColor;
      background-color: $primaryLightColor !important;
      border-color: $primaryColor;
    }
  }
}
