<search-bar>
  <button *appUserCan="'product-create'"
          md-raised-button color="accent"
          (click)="clickCreate()">
    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
    Agregar Producto
  </button>
  <button *appUserCan="'category-create'"
          md-raised-button color="accent"
          (click)="categoryModal.open()">
    Categorias de produtos
  </button>
  <button *appUserCan="'brand-create'"
          md-raised-button color="accent"
          (click)="brandModal.open()">
    Marcas
  </button>
  <md-checkbox [formControl]="deletedControl" *appUserCan="'product-delete'" class="dark-theme">
    <i class="fa fa-trash"></i>
    Ver eliminados
  </md-checkbox>
</search-bar>

<main-content>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Categorías</th>
      <th>Marca</th>
      <th>Mínimo Global</th>
      <th>Precio Global</th>
      <th>Unidad</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products" (click)="clickUpdate(product)">
      <td>{{product.id}}</td>
      <td>{{product.description}}</td>
      <td>
        <ul>
          <li *ngFor="let category of product.categories; let last=last">
            {{category.name}}<span *ngIf="!last">, </span>
          </li>
        </ul>
      </td>
      <td>
        <span *ngIf="product.brand">
          {{product.brand.name}}
        </span>
      </td>
      <td>{{product.global_minimum}}</td>
      <td>{{product.global_price}}</td>
      <td >
        <span *ngIf="product.unit">
          {{product.unit.name}}
        </span>
        <ng-container *appUserCan="'product-delete'">
          <div class="button-modify" *ngIf="product.deleted_at; else notDeleted"
               (click)="clickRestore($event, product)">
            <i class="fa fa-recycle" aria-hidden="true"></i>
          </div>
          <ng-template #notDeleted>
            <div class="button-delete"
                 (click)="clickDelete($event, product)">
              <i class="fa fa-trash" ></i>
            </div>
          </ng-template>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
</main-content>

<product-modal (updated)="updated($event)"
               (created)="created($event)"
                (deleted)="deleted($event)"></product-modal>
<app-basic-entity-modal mode="brand"
                        (closed)="productModal.initBrandsData()"
                        #brandModal></app-basic-entity-modal>
<app-basic-entity-modal mode="category"
                        (closed)="productModal.initCategoriesData()"
                        #categoryModal></app-basic-entity-modal>
