<app-search-bar>
  <button *appUserCan="'client-create'"
          md-raised-button color="primary"
          (click)="create()">
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    Agregar Cliente
  </button>

  <md-checkbox [formControl]="deletedControl" *appUserCan="'client-delete'" class="dark-theme">
    <i class="fa fa-trash"></i>
    Ver eliminados
  </md-checkbox>
</app-search-bar>

<app-search-bar class="dark-theme">
  <form [formGroup]="form">
    <i class="fa fa-filter" aria-hidden="true"></i>

    <md-form-field>
      <input mdInput formControlName="id" placeholder="ID">
    </md-form-field>

    <md-form-field>
      <input mdInput formControlName="name" placeholder="Nombre">
    </md-form-field>

    <md-form-field>
      <input mdInput formControlName="address" placeholder="Dirección">
    </md-form-field>
  </form>
</app-search-bar>


<app-main-content>
  <app-client-item *ngFor="let client of dataSourceObservable | async"
                   [client]="client"
                   (update)="update($event)"
                   (delete)="delete($event)"
                   (restore)="restore($event)"
  ></app-client-item>
</app-main-content>
