<h4 mat-dialog-title>Cambiar Contraseña</h4>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Contraseña actual</mat-label>
      <input matInput formControlName="current_password"
             type="password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nueva contraseña</mat-label>
      <input matInput formControlName="password" type="password"
            >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirme la contraseña</mat-label>
      <input matInput formControlName="confirm_password" type="password"
            >
      <mat-hint class="error" *ngIf="form.get('confirm_password').hasError('notSame')">
        La contraseña no concuerda
      </mat-hint>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="accent">
      Aceptar
    </button>
  </mat-dialog-actions>
</form>
