<h2 mat-dialog-title>
  Ingrese precio y cantidad
</h2>

<mat-dialog-content>
  <form (ngSubmit)="submit()" ngNativeValidate>
    <h3 *ngIf="productBuy.product">
      Producto: {{productBuy.product.description}}
    </h3>
    <section>
      <mat-form-field>
        <input name="price" matInput [(ngModel)]="productBuy.cost" placeholder="Costo"
               required="required" type="number"
               [min]="0.01" [step]="0.01"/>
        <mat-hint>Último costo: {{productBuy.product.last_cost | myCurrency}}</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input name="quantity" matInput [(ngModel)]="productBuy.quantity"
               [placeholder]="'Cantidad ' + productBuy.product.unitData.name"
               required="required" type="number"
               [step]="productBuy.product.unitData.step"
               [min]="productBuy.product.unitData.step"/>
      </mat-form-field>
    </section>

    <mat-form-field>
      <mat-select [(ngModel)]="productBuy.inventoryMovementType"
                  name="inventoryMovementType" required
                  placeholder="Tipo de movimiento">
        <mat-option *ngFor="let inventoryMovementType of inventoryMovementTypes"
                    [value]="inventoryMovementType">
          {{inventoryMovementType.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" mat-raised-button color="accent">
      Agregar Producto
    </button>
  </form>
</mat-dialog-content>
