<h2 mat-dialog-title>
  Ingrese precio y cantidad
</h2>

<mat-dialog-content>
  <form (ngSubmit)="submit()" [formGroup]="form" autocomplete="off">
    <h3 *ngIf="form.get('product').value">
      Producto: {{form.get('product').value.description}}
    </h3>
    <section>
      <mat-form-field>
        <input matInput formControlName="cost" placeholder="Costo"
               required="required" type="number"
               [min]="0.01" [step]="0.01"/>
        <mat-hint>Último costo: {{form.get('product').value.last_cost | myCurrency}}</mat-hint>
        <mat-icon  matPrefix>attach_money</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input name="quantity" matInput formControlName="quantity"
               [placeholder]="'Cantidad ' + form.get('product').value.unitData.name"
               required="required" type="number"
               [step]="form.get('product').value.unitData.step"
               [min]="form.get('product').value.unitData.step"/>
      </mat-form-field>
    </section>

    <mat-form-field>
      <mat-select formControlName="inventory_movement_type"
                  placeholder="Tipo de movimiento">
        <mat-option *ngFor="let inventoryMovementType of inventoryMovementTypes"
                    [value]="inventoryMovementType">
          {{inventoryMovementType.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" mat-raised-button color="accent">
      Agregar Producto
    </button>
  </form>
</mat-dialog-content>
