<search-bar>
  <div>
    <input type="text" placeholder="ID"/>
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
  <div>
    <input type="text" placeholder="Descripción"/>
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
  <button class="btn btn-default" (click)="d">
    <i class="fa fa-list-ul" aria-hidden="true"></i>
    Generar Movimiento
  </button>
</search-bar>
<main-content>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Categoría</th>
      <th>Marca</th>
      <th>Mínimo de unidades</th>
      <th>Precio de sucursal</th>
      <th>Tipo de unidad</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>ID</td>
      <td>Descripción</td>
      <td>Categoría</td>
      <td>Marca</td>
      <td>Mínimo de unidades</td>
      <td>Precio de sucursal</td>
      <td>Tipo de unidad</td>
    </tr>
    </tbody>
  </table>
</main-content>

