@import "~src/vars";

:host {
  display: inline-flex;
  flex: 0 0 200px;
  margin: .5em;
}

.roles {
  position: absolute;
  right: -.5em;
  bottom: -.5em;
  background-color: $yellow;
  color: white;
  @include animate();

  mat-icon {
    line-height: 1em;
    font-size: 1.4em;
  }

  &:hover {
    transform: scale(1.5, 1.5);
  }
}
