<app-person-item [canDelete]="!user.protected"
                 deletePermission="user-delete"
                 [deleted]="user.deleted_at"
                 (delete)="delete.emit(user)"
                 (restore)="restore.emit(user)"
                 (update)="update.emit(user)">
  <picture>
    <img src="assets/images/user.png"/>
  </picture>
  <div class="data">
    <div>
      <span>{{user.username}}</span>
    </div>
    <div>
      <span>{{user.name}}</span>
      <span>{{user.last_name}} {{user.last_name_2}}</span>
    </div>
  </div>
  <button mat-raised-button mat-icon-button
          *ngIf="!user.protected && !user.deleted_at"
          class="roles" (click)="clickRole($event)">
    <mat-icon class="fa fa-lock"></mat-icon>
  </button>
</app-person-item>
