<mat-form-field class="search">
  <input matInput [placeholder]="placeholder" aria-label="State"
         [matAutocomplete]="auto" [formControl]="formControl">
  <span matSuffix>
    <mat-icon>search</mat-icon>
  </span>

  <mat-autocomplete #auto="matAutocomplete" class="dark"
                    [displayWith]="displayWith">
    <mat-option class="loading" disabled *ngIf="loading">
      <mat-spinner diameter="20" class="dark-theme"></mat-spinner>
    </mat-option>
    <ng-container *ngIf="clientsFound$ | async; let clients">
      <mat-option class="empty" *ngIf="!loading && !clients.length">
        No hay resultados
      </mat-option>

      <mat-option *ngFor="let client of clients" [value]="client">
        <span>{{ client.name }}</span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
