@import "~src/vars";

:host{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $backgroundDark;
  flex: 0 0 auto;
  align-items: center;
  margin: 5px;
  padding: 0.5em;
  border-radius: 4px;
  color: white;
}

:host ::ng-deep {
  h3, h2 {
    margin-right: .5em;
    margin-top: 0;
    margin-bottom: 0;
  }
  button {
    margin-right: .5em;
    i {
      margin-right: .25em;
    }
  }

  i {
    margin-right: .5em;
  }

  mat-form-field {
    margin-right: .5em;

    ::ng-deep {
      .mat-form-field-wrapper{
        padding-bottom: 0;
      }

      .mat-form-field-underline{
        bottom: 0;
      }
    }

    &.small {
      width: 5em;
    }

    &.medium {
      width: 8em;
    }
  }
}
