<h4 mat-dialog-title>
  {{product ? ('common.edit' | translate) : ('common.create' | translate)}}
  {{'product.product' | translate}}
</h4>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content>
    <div class="row">
      <mat-form-field *ngIf="product" class="id">
        <mat-label>{{'product.id' | translate}}</mat-label>
        <input matInput required [value]="product.id" disabled>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'product.description' | translate}}</mat-label>
        <input matInput type="text" formControlName="description"
               required maxlength="255">
      </mat-form-field>
    </div>

    <div class="row">
      <div class="barcode">
        <mat-checkbox formControlName="haveBarCode"
                      name="haverBarCode"></mat-checkbox>
        <mat-form-field>
          <mat-label>{{'product.barCode' | translate}}</mat-label>
          <input matInput type="text" formControlName="bar_code" required>
          <mat-icon matSuffix class="fa fa-barcode"></mat-icon>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>{{'product.unit' | translate}}</mat-label>
        <mat-select formControlName="unit_id">
          <mat-option *ngFor="let unit of units" [value]="unit.id">
            {{unit.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'product.categories' | translate}}</mat-label>
        <mat-select formControlName="categories" [multiple]="true">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'product.brand' | translate}}</mat-label>
        <mat-select formControlName="brand_id">
          <mat-option *ngFor="let brand of brands" [value]="brand.id">
            {{brand.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{'product.globalPrice' | translate}}</mat-label>
        <input matInput type="number" step="0.01" formControlName="global_price">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'product.globalMinimum' | translate}}</mat-label>
        <input matInput type="number" formControlName="global_minimum">
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="button" mat-raised-button mat-dialog-close>
      {{'common.close' | translate}}
    </button>

    <div class="spacer"></div>

    <ng-template appUserCan="product-create">
      <app-loading-button *ngIf="!product" [loading]="loading"
                          mat-raised-button color="accent">
        {{'common.create' | translate}} {{'product.product' | translate}}
      </app-loading-button>
    </ng-template>

    <ng-template appUserCan="product-edit">
      <app-loading-button *ngIf="product" [loading]="loading"
                          mat-raised-button color="accent">
        {{'common.edit' | translate}} {{'product.product' | translate}}
      </app-loading-button>
    </ng-template>
  </mat-dialog-actions>
</form>
