<app-popover [focusable]="focusable">
  <form ngNativeValidate>
    <input-label [(ngModel)]="name" class="dark" type="text"
                 [formControl]="nameControl" #focusable>
      Nombre
    </input-label>
  </form>

  <app-selectable [items]="clients"
                  [loading]="loading"
                  (selected)="select($event)"
                  (keydown)="selectable.keydown($event)">
    <ng-template let-item="item">
      {{item.id}} - {{item.name}} {{item.last_name}} {{item.last_name_2}}
    </ng-template>
  </app-selectable>
</app-popover>
