<app-popover>
  <form>
    <!--<input-label [(ngModel)]="id" class="dark" type="text"
                 [formControl]="idControl">
      ID
    </input-label>-->
    <input-label [(ngModel)]="name" class="dark" type="text"
                 [formControl]="nameControl">
      Nombre
    </input-label>
  </form>

  <app-selectable [items]="clients"
                  [loading]="loading"
                  (selected)="select($event)"
                  (keydown)="selectable.keydown($event)">
    <template let-item="item">
      {{item.id}} - {{item.name}} {{item.last_name}} {{item.last_name_2}}
    </template>
  </app-selectable>
</app-popover>
