<modal (onClose)="closed()" (onDismiss)="closed()">
  <modal-header [show-close]="true">
    <h4 *ngIf="createMode"> Añadir Proveedor </h4>
    <h4 *ngIf="updateMode"> Editar Proveedor </h4>
    <h4 *ngIf="deleteMode"> Eliminar Proveedor </h4>
  </modal-header>
  <form (ngSubmit)="submit()">
    <modal-body *ngIf="!deleteMode && supplier">
      <input-label *ngIf="updateMode" name="id"
                   type="text" [(ngModel)]="supplier.id" disabled="disabled">
        Id
      </input-label>
      <input-label type="text" [(ngModel)]="supplier.name" name="name"
                   [disabled]="locked" required>
        Nombre
      </input-label>
      <input-label type="text" [(ngModel)]="supplier.last_name" name="last_name"
                      [disabled]="locked">
        Apellido Paterno
      </input-label>
      <input-label type="text" [(ngModel)]="supplier.last_name_2" name="last_name_2"
                      [disabled]="locked">
        Apellido Materno
      </input-label>
      <input-label type="email" [(ngModel)]="supplier.email" name="email"
                      [disabled]="locked">
        Email
      </input-label>
      <input-label type="text" [(ngModel)]="supplier.phone" name="phone"
                      [disabled]="locked">
        Teléfono
      </input-label>
      <input-label type="text" [(ngModel)]="supplier.cellphone" name="cellphone"
                      [disabled]="locked">
        Celular
      </input-label>
      <input-label type="text" [(ngModel)]="supplier.address" name="address"
                      [disabled]="locked">
        Dirección
      </input-label>
      <input-label type="text" [(ngModel)]="supplier.rfc"  name="rfc"
                      [disabled]="locked">
        RFC
      </input-label>

      <ng-select [items]="supplierCategoryItems"
                 [initData]="selectedSupplierCategoryItem"
                 (data)="supplier.supplier_category_id = $event.id"
                 [disabled]="locked"
                 placeholder="Categoría del proveedor">
      </ng-select>

      <ng-select [items]="brandItems"
                 [initData]="selectedBrandItems"
                 (data)="mapBrands($event)"
                 [multiple]="true"
                 [disabled]="locked"
                 placeholder="Marcas">
      </ng-select>
    </modal-body>
    <modal-footer>
      <button *ngIf="locked"
              type="submit" class="btn btn-danger pull-xs-left"
              (click)="unlock()" >
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        Editar Proveedor
      </button>
      <button *ngIf="createMode"
              type="submit"
              class="btn btn-success">
        Crear Proveedor
      </button>
      <button *ngIf="updateMode && !locked"
              type="submit"
              class="btn btn-success">
        Actualizar Proveedor
      </button>
      <button *ngIf="deleteMode && !locked"
              type="submit"
              class="btn btn-danger">
        Eliminar Proveedor
      </button>
      <button type="button"
              class="btn btn-primary"
              (click)="close()" >
        Cerrar
      </button>
    </modal-footer>
  </form>
</modal>

