<header>
  <picture>
  </picture>
  <div id="hidden-bar-div"> </div>
  <div id="sesion-menu-bar">
    <div>
      <span>{{user.username}}</span>
    </div>
    <div>
      <span>
        Hora de inicio:
        <span id="turno">
          {{time}}
        </span>
      </span>
    </div>
    <button type="button" class="btn btn-info" (click)="logout()">
      Cerrar sesión
    </button>
  </div>
</header>
<div id="body-content">
  <aside>
    <ul>
      <li *ngFor="let route of routes" type="button" class="btn btn-info">
        <a [routerLink]="[route.path]">{{route.name}}</a>
      </li>
    </ul>

  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>

