<header>
  <picture>
  </picture>
  <div id="hidden-bar-div"> </div>
  <div id="sesion-menu-bar">
    <div class="header-texts">
      <span id="user-menu-bar">{{user.username}}</span>
    </div>
    <div class="header-texts">
      <span id="time-menu-bar">Hora de inicio:
        <span id="turno">{{time}}
        </span>
      </span>
    </div>
    <div>
      <button type="button" class="btn btn-default" (click)="logout()">
        Cerrar sesión
      </button>
    </div>
  </div>
</header>
<div id="body-content">
  <aside>
    <ul>
      <li *ngFor="let route of routes" type="button" class="btn btn-info">
        <a [routerLink]="[route.path]">{{route.name}}</a>
      </li>
    </ul>

  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>

