<modal>
  <modal-header [show-close]="true">
    <h4 *ngIf="updateMode"> Editar Sucursal </h4>
  </modal-header>
  <form (ngSubmit)="submit()">
    <modal-body *ngIf="branch">
      <input-label *ngIf="updateMode" type="number" [(ngModel)]="branch.id" name="id"
                   disabled="disabled">
        Id
      </input-label>
      <input-label [(ngModel)]="branch.name" name="name"
                   [disabled]="locked" [required]="true">
        Nombre</input-label>
      <input-label [(ngModel)]="branch.description" name="description"
                   [disabled]="locked">
        Descripción
      </input-label>
      <input-label [(ngModel)]="branch.address" name="address"
                   [disabled]="locked">
        Dirección
      </input-label>
      <input-label [(ngModel)]="branch.title_ticket" name="title_ticket"
                   [disabled]="locked">
        Título del ticket
      </input-label>
      <input-label [(ngModel)]="branch.header_ticket" name="header_ticket"
                   [disabled]="locked">
        Encabezado de ticket
      </input-label>
      <input-label [(ngModel)]="branch.footer_ticket" name="footer_ticket"
                   [disabled]="locked">
        Pie de ticket
      </input-label>
      <input-label [(ngModel)]="branch.image_hash" [type]="'file'" name="image_hash"
                   [disabled]="locked">
        Imagen
      </input-label>
    </modal-body>
    <modal-footer>
      <template [appUserCan]="'branch-edit'">
        <button *ngIf="locked"
                type="submit" class="btn btn-danger pull-xs-left"
                (click)="unlock()" >
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          Editar Sucursal
        </button>
      </template>
      <button *ngIf="updateMode && !locked"
              type="submit"
              class="btn btn-success" >
        Actualizar Sucursal
      </button>
      <button type="button"
              class="btn btn-primary"
              (click)="close()" >
        Cerrar
      </button>
    </modal-footer>
  </form>
</modal>

