@import "~src/vars";

:host, form{
  display: flex;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  flex-wrap: wrap;
}

mat-form-field {
  flex: 1 0 auto;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  line-height: 1em;
  text-align: center;

  @media (min-width: $smWidth) {
    border-right: white 2px solid;
    margin: .5em;
    padding: .5em;
  }


  section {
    display: flex;
    flex-direction: column;
    padding: .5em;
    background-color: $primaryLighterColor;
    border-radius: .5em;
    margin-bottom: .2em;

    ::ng-deep h5 {
      margin-top: .25em;
      margin-bottom: .5em;
      font-size: 1.25em;
    }
  }

  .client {
    .searchable-input {
      display: flex;

      mat-form-field {
        margin-right: .2em;
      }

      app-client-search {
        flex: 1;
      }
    }
  }

  .branch {
    flex: 0 0 auto;
  }
}

.right{
  flex: 2 0 0;
  font-size: .75em;

  @media (min-width: $smWidth) {
    padding: 1em;
    font-size: 1em;
  }
}

.error{
  color: #d9534f;
  font-weight: bolder;
}

.client-view{
  background-color: $primaryColor;
  font-weight: bolder;
  border-radius: .5em;
  padding: .5em;
}

.branch-view{
  text-align: center;

  h4, h6{
    margin: 0;
  }
}

hr{
  border-color: lighten($primaryLightColor, 10%);
  margin: 1em 0;

  @media (min-width: $smWidth) {
    margin: .25em 0;
  }
}



section.payment {
  app-payment-type {
    margin-bottom: .5em;
  }

  mat-checkbox {
    margin-bottom: 1em;
    display: inline-block;
  }
}


section.footer {
  mat-checkbox {
    margin-bottom: 1em;
    display: inline-block;
  }
}


.mobile-actions {
  justify-content: space-around;
  display: flex;

  button {
    ::ng-deep .mat-button-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1em;

      mat-icon {
        font-size: 2em;
      }
    }
  }
}
