<form (ngSubmit)="confirm()"
      [formGroup]="form"
      autocomplete="off" #myForm="ngForm"
      (keydown.enter)="$event.preventDefault()">
  <div class="left dark-theme">
    <section class="client">
      <h5>Cliente</h5>
      <div class="searchable-input">
        <mat-form-field class="id-field">
          <input matInput name="client_id" type="number"
                 [min]="1" [formControl]="clientIdControl"
                 tabindex="5" autocomplete="off"
                 placeholder="ID" />
          <mat-icon matPrefix class="fa fa-user"></mat-icon>
          <mat-hint>
            <span class="error" *ngIf="client_status">{{client_status}}</span>
          </mat-hint>
          <mat-error *ngIf="form.get('client').hasError('required')">
            {{messages.clientInvalid}}
          </mat-error>
        </mat-form-field>
        <app-client-search formControlName="client"></app-client-search>
      </div>
    </section>

    <section class="search">
      <app-find-product (selectedProduct)="addProduct($event)"
                        tab_index="6"
                        [branch_id]="branch_id">
      </app-find-product>
    </section>

    <section class="payment">
      <app-payment-type tab_index="7"
                        [cardPaymentIdControl]="form.get('card_payment_id')"
                        [paymentTypeIdControl]="form.get('payment_type_id')"
      ></app-payment-type>

      <mat-form-field>
        <input matInput placeholder="Pago"
               formControlName="client_payment"
               tabindex="8" step=".01"
               type="number" [min]="total">
        <mat-icon matPrefix>attach_money</mat-icon>
      </mat-form-field>
    </section>

    <section class="footer">
      <mat-checkbox [formControl]="printControl" name="print" tabindex="9">
        <i class="fa fa-print" aria-hidden="true"></i>
        Imprimir ticket
      </mat-checkbox>

      <div class="hide-on-small">
        <button type="button" mat-raised-button
                color="warn" (click)="cancel()">
          <mat-icon class="fa fa-trash"></mat-icon>
          <span>Cancelar Venta</span>

        </button>
        <button mat-raised-button color="accent" accesskey="f">
          <mat-icon class="fa fa-check-circle"></mat-icon>
          <span>Finalizar Venta</span>
        </button>
      </div>
    </section>
  </div>


  <div class="right">
    <div class="branch-view" *ngIf="branch">
      <h6>Sucursal</h6>
      <h4>{{branch.name}}</h4>
    </div>

    <app-inventory-cart
      [products_form]="form.get('products')"
      [client_payment]="form.get('client_payment').value"
    ></app-inventory-cart>

    <div class="mobile-actions" *ngIf="isHandset$ | async">
      <button type="button" mat-raised-button color="warn" (click)="cancel()">
        <mat-icon class="fa fa-trash"></mat-icon>
        <span>Cancelar Venta</span>
      </button>
      <button mat-raised-button color="accent" accesskey="f">
        <mat-icon class="fa fa-check-circle"></mat-icon>
        <span>Finalizar Venta</span>
      </button>
    </div>
  </div>
</form>
