<search-bar>
  <button *appUserCan="'client-create'" class="btn"
          md-raised-button color="accent"
          (click)="create()">
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    Agregar Cliente
  </button>

  <md-checkbox [formControl]="deletedControl" *appUserCan="'client-delete'" class="dark-theme">
    <i class="fa fa-trash"></i>
    Ver eliminados
  </md-checkbox>
</search-bar>

<main-content>
  <client-item *ngFor="let client of clients"
               [client]="client"
               (update)="update($event)"
               (delete)="delete($event)"
               (restore)="restore($event)"
  ></client-item>
</main-content>

<client-modal (created)="created($event)"
              (updated)="updated($event)"
              (deleted)="deleted($event)">
</client-modal>

