<ng-container *ngIf="canDelete">
  <ng-container *appUserCan="deletePermission">
    <button class="button-modify" mat-icon-button mat-raised-button
            color="accent"
            *ngIf="deleted; else notDeleted" (click)="clickRestore()">
      <mat-icon class="fa fa-recycle" aria-hidden="true"></mat-icon>
    </button>
    <ng-template #notDeleted>
      <button class="button-delete" mat-icon-button mat-raised-button
              color="warn" (click)="clickDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </ng-container>
</ng-container>
<div class="content-div" (click)="clickUpdate()">
  <ng-content></ng-content>
</div>
