<h4 mat-dialog-title *ngIf="createMode"> Añadir Cliente </h4>
<h4 mat-dialog-title *ngIf="updateMode"> Editar Cliente </h4>
<h4 mat-dialog-title *ngIf="deleteMode"> Eliminar Cliente </h4>

<form (ngSubmit)="submit()" ngNativeValidate>
  <mat-dialog-content *ngIf="!deleteMode && !!client">

    <mat-form-field *ngIf="updateMode" >
      <input matInput placeholder="Id"  name="id"
             type="text" [(ngModel)]="client.id" disabled="disabled">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nombre"
             type="text" [(ngModel)]="client.name" name="name"
             [disabled]="locked" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Apellido Paterno"
             type="text" [(ngModel)]="client.last_name" name="last_name"
             [disabled]="locked">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Apellido Materno"
             type="text" [(ngModel)]="client.last_name_2" name="last_name_2"
             [disabled]="locked">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email"
             type="email" [(ngModel)]="client.email" name="email"
             [disabled]="locked">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Teléfono"
             type="text" [(ngModel)]="client.phone" name="phone"
             [disabled]="locked">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Celular"
             type="text" [(ngModel)]="client.cellphone" name="cellphone"
             [disabled]="locked">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Dirección"
             type="text" [(ngModel)]="client.address" name="address"
             [disabled]="locked">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="RFC"
             type="text" [(ngModel)]="client.rfc" name="rfc"
             [disabled]="locked">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <ng-template appUserCan="client-edit">
      <button *ngIf="locked"
              type="submit" class="btn btn-danger pull-xs-left"
              (click)="unlock()" >
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        Editar Cliente
      </button>
    </ng-template>

    <button *ngIf="createMode"
            type="submit" mat-raised-button color="accent">
      Crear Cliente
    </button>
    <button *ngIf="updateMode && !locked"
            type="submit" mat-raised-button color="accent" >
      Actualizar Cliente
    </button>
    <button *ngIf="deleteMode && !locked"
            type="submit" mat-raised-button color="warn">
      Eliminar Cliente
    </button>
    <button type="button" mat-raised-button mat-dialog-close>
      Cerrar
    </button>
  </mat-dialog-actions>
</form>

