@import "~src/vars";

table{
  width: 100%;
  border-collapse: separate;

  td,th{
    padding: .5em;
    &.align-right{
      text-align: right;
    }
  }

  ::ng-deep tr{
    td{
      background-color: $primaryLightColor;

      &.empty {
        background: transparent;
      }
    }
  }

  thead{
    tr{
      td{
        border: 2px $primaryDarkColor solid;
        text-align: center;
      }
    }
  }
}

