<ul>
  <li *appUserCanInBranch="'sale'">
    <a routerLink="/venta" routerLinkActive="active" class="btn btn-default" >
      <i class="fa fa-cart-arrow-down"></i>
      <span>Venta</span>
    </a>
  </li>
  <li *appUserCanInBranch="'buy'">
    <a routerLink="/compra" routerLinkActive="active" class="btn btn-default" >
      <i class="fa fa-shopping-cart"></i>
      <span>Compra</span>
    </a>
  </li>
  <li *appUserCanInBranch="'inventory-get'">
    <a routerLink="/inventario" routerLinkActive="active" class="btn btn-default" >
      <i class="fa fa-list-ul"></i>
      <span>Inventario</span>
    </a>
  </li>
  <li *appUserCan="'product-get'">
    <a routerLink="/productos" routerLinkActive="active" class="btn btn-default" >
      <i class="fa fa-shopping-bag"></i>
      <span>Productos</span>
    </a>
  </li>
  <li *appUserCan="'client-get'">
    <a routerLink="/clientes" routerLinkActive="active" class="btn btn-default" >
      <i class="fa fa-user"></i>
      <span>Clientes</span>
    </a>
  </li>
  <li *appUserCan="'supplier-get'">
    <a routerLink="/proveedores" routerLinkActive="active" class="btn btn-default" >
      <i class="fa fa-user-secret"></i>
      <span>Proveedores</span>
    </a>
  </li>
  <li *appUserCan="'user-get'">
    <a routerLink="/usuarios" routerLinkActive="active" class="btn btn-default" >
      <i class="fa fa-users"></i>
      <span>Usuarios</span>
    </a>
  </li>
  <li *appUserCan="'role-get'">
    <a routerLink="/roles" routerLinkActive="active" class="btn btn-default" >
      <i class="fa fa-lock"></i>
      <span>Roles</span>
    </a>
  </li>
  <li *appUserCan="'brand-get'">
    <a routerLink="/sucursales" routerLinkActive="active" class="btn btn-default" >
      <i class="fa fa-industry"></i>
      <span>Sucursales</span>
    </a>
  </li>
  <li>
    <a routerLink="/reportes" routerLinkActive="active" class="btn btn-default" >
      <i class="fa fa-line-chart"></i>
      <span>Reportes</span>
    </a>
  </li>
</ul>
