@import "~src/vars";

form{
  max-width: 480px;
  display: flex;
  flex-direction: column;
  padding-top: .5em;

  mat-select{
    margin: .5em 0;
  }

  mat-card {
    display: flex;
    flex-direction: column;
  }

  .options{
    text-align: right;
  }
}
