<h4 mat-dialog-title> Modificar Inventario </h4>

<mat-dialog-content>
  <form (ngSubmit)="submit()" ngNativeValidate *ngIf="inventory">
    <mat-form-field>
      <mat-select [(ngModel)]="inventoryMovementType"
                  name="inventoryMovementType"
                  placeholder="Tipo de movimiento">
        <mat-option *ngFor="let inventoryMovementType of inventoryMovementTypes" [value]="inventoryMovementType">
          {{inventoryMovementType.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div *ngIf="willIncrease()" >
      Este tipo de movimiento aumentará el inventario,
      introduzca la cantidad que desea incrementar
    </div>
    <div *ngIf="willDecrease()" >
      Este tipo de movimiento disminuirá el inventario,
      introduzca la cantidad que desea disminuir
    </div>
    <div *ngIf="willAdjust()" >
      Este tipo de movimiento disminuirá o aumentará el inventario,
      introduzca la cantidad que desea disminuir o aumentar.
    </div>
    <div *ngIf="willTranslate()" >
      Este tipo de movimiento disminuirá la cantidad del inventario de la
      surcursal actual y lo agregará a la sucursal seleccionada
      Introduzca la cantidad que desea disminuir.
    </div>
    <div *ngIf="willConvert()" >
      Este tipo de movimiento disminuirá la cantidad del inventario de un producto
      y aumentará la cantidad en otro producto del inventario
      de la misma sucursal. <br>
      Introduzca la cantidad a disminuir en el producto acual y
      seleccione el producto y cantidad que desea aumentar
    </div>

    <mat-card *ngIf="inventoryMovementType">
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="quantity"
               name="quantity" [required]="true"
               [min]="min()" [max]="max()"
               [step]="inventory.product.unitData.step"
               [placeholder]="placeholderText"
        />
        <mat-hint>
          Cantidad antes: {{inventory.quantity}},
          después: {{afterMovementQuantity}}
        </mat-hint>
      </mat-form-field>
      <br/>

      <mat-form-field>
        <mat-select *ngIf="willTranslate()"
                    [(ngModel)]="destiny_branch_id" required
                    name="inventoryConverted"
                    placeholder="Seleccione la sucursal de destino">
          <mat-option *ngFor="let branch of branches" [value]="branch.id">
            {{branch.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container *ngIf="willConvert()">
        <form>
          <mat-form-field>
            <input type="text" aria-label="Number" matInput name="product"
                   [formControl]="inventoryControl" [matAutocomplete]="auto"
                   placeholder="Producto a convertir">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="showDescription">
              <mat-option *ngFor="let inventory of inventoriesFiltered | async" [value]="inventory">
                {{inventory.product.description}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>

        <mat-form-field *ngIf="inventoryControl.value?.id">
          <input matInput type="number" [(ngModel)]="quantity_converted"
                 name="quantity_converted" required
                 [step]="inventoryControl.value.product.unitData.step"
                 [min]="inventoryControl.value.product.unitData.step"
                 placeholder="Cantidad convertida"
          />
          <mat-hint *ngIf="inventoryControl.value">
            Cantidad antes {{inventoryControl.value.quantity }}
            después {{inventoryControl.value.quantity + (quantity_converted-0)}}
          </mat-hint>
        </mat-form-field>
      </ng-container>
    </mat-card>

    <div class="options" *ngIf="inventoryMovementType">
      <button *ngIf="inventoryMovementType" type="submit"
              mat-raised-button color="accent">
        Actualizar Inventario
      </button>
    </div>
  </form>
</mat-dialog-content>

