@mixin animate($efecto:ease,$tiempo:.5s) {
    transition: all $efecto $tiempo;
}

@mixin shadow($ejeX: 0px,$ejeY: 0px,$blur: 5px,$alfa: 0.5, $color:black) {
    -moz-box-shadow: $ejeX $ejeY $blur rgba($color,$alfa);
    box-shadow: $ejeX $ejeY $blur rgba($color,$alfa);
}
@mixin solidShadow($ejeX: 0px,$ejeY: 0px,$ejeZ:0px,$blur: 5px,$alfa:fade($black,50%)) {
    -moz-box-shadow: $ejeX $ejeY $ejeZ $blur $alfa;
    box-shadow: $ejeX $ejeY $ejeZ $blur $alfa;
}

@mixin font($size:14) {
    $em : $size / 14;
    font-size:$size*1px;//Fallback navegadores antiguos
    font-size: "#{$em}rem";
}

@mixin textShadow($ejeX: 0px,$ejeY: 0px,$blur: 5px, $color: black, $por:.5) {
    -moz-text-shadow: $ejeX $ejeY $blur rgba($color, $por);
    text-shadow: $ejeX $ejeY $blur rgba($color, $por);
}

@mixin from($from){
    @media screen and (min-width:$from){
        @content;
    }
}

@mixin to($to){
    @media screen and (max-width:$to){
        @content;
    }
}

@mixin fromTo($from,$to){
    @media screen and (min-width: $from) and (max-width: ($to) - 1px) {
        @content
    }
}

@mixin square($size){
  width: $size;
  height: $size;
  img{
    width: 100%;
  }
}

@mixin circle($size){
  width: $size;
  height: $size;
  border-radius: 50%;
  overflow: hidden;
  img{
    width: 100%;
  }
}

@mixin placeholder($color, $opacity) {
::placeholder {
    color: $color;
    opacity: $opacity; 
}

:-ms-input-placeholder { 
   color: $color;
}

::-ms-input-placeholder { 
   color: $color;
}
}

@mixin gradient($angulo:0deg,$colorA:$none,$colorB:$none,$colorC:$none,$imagen:$none) {
    background: -webkit-linear-gradient($angulo,$colorA,$colorB,$colorC)$imagen;
    background: -moz-linear-gradient($angulo,$colorA,$colorB,$colorC)$imagen;
    background: linear-gradient($angulo,$colorA,$colorB,$colorC)$imagen;
}
