@import "../node_modules/font-face-mixin/_fontface.scss";
@import '~src/vars';


@include font-face(QuickSand,
  "~connect-fonts-quicksand/fonts/latin/quicksand-regular",
  normal, normal, eot woff ttf svg);

@include font-face(QuickSand,
  "~connect-fonts-quicksand/fonts/latin/quicksand-bold",
  bold, normal, eot woff ttf svg);

* {
  font-family: Verdana, sans-serif;
}

body {
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  color: darken($text-color, 10%);
}

table {
  border-collapse: collapse;
}


@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-primary, 500, 200, 700);
$candy-app-accent: mat-palette($mat-secondary, 500, A100, A400);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-primary, 500, 50, 700);
$dark-accent: mat-palette($mat-secondary, 500, 50, 900);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent);

.dark-theme {
  @include angular-material-theme($dark-theme);
}

.simple-notification-wrapper {
  z-index: 1000000 !important;
}

.modal-header {
  .close {
    order: 2;
  }
}

mat-hint.error {
  color: #d9534f;
  font-weight: bolder;
}

.mat-form-field {
  width: auto;
}


.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
  align-items: stretch;

  table {
    width: 100%;
  }
}

.mat-option.loading, .mat-option.empty {
  .mat-option-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

form.dark-box {
  padding: 1em;
  border-radius: .5em;
  margin: 1em;

  @include mat-elevation(10, $primaryLightColor);
}

.mat-autocomplete-panel.dark {
  background-color: $primaryColor;
  color: white;
  border-radius: 0em 0em 1em 1em;
  @include mat-elevation(10, $primaryLightColor);

  .mat-option {
    color: white;
    height: 2em;

    .mat-progress-spinner circle, .mat-spinner circle {
      stroke: $primaryLightColor;
    }

    &.mat-active, &:hover {
      background-color: rgba(white, .15);
    }
  }
}

.id-field {
  max-width: 5em;
}

mat-icon.mat-icon {
  width: 1em;
  height: 1em;
}

button:not(.mat-icon-button) {
  .mat-checkbox-label, .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-icon {
      margin-right: .5em;
    }
  }
}

mat-dialog-actions {
  display: flex;
  align-items: center;
}

div.spacer {
  flex: 1;
}

.box {
  @include mat-elevation(10, gray, 1);
  background: white;
  padding: .25em;
  border-radius: .5em;

  @media (min-width: $smWidth) {
    padding: .5em;
  }
}

table.responsive {
  @media (max-width: $smWidth) {
    tr {
      display: flex;
      flex-wrap: wrap;
      padding: .5em;
      height: auto !important;
      border-bottom-color: rgba(0, 0, 0, 0.12);
      border-bottom-width: 1px;
      border-bottom-style: solid;
      align-items: stretch;
    }

    td, th {
      display: flex;
      align-items: center;
      flex: 1 0 1em;
      padding: .25em !important;
      border: none !important;
    }
  }

}

[hidden] {
  display: none !important;
}

mat-toolbar.mat-toolbar {
  font-size: 1em;

  button {
    margin: 0 .2em;
  }

  h2 {
    margin-right: .5em;
  }

  mat-form-field {
    margin-right: .5em;

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  mat-toolbar-row.mat-toolbar-row {
    flex-wrap: wrap;
    min-height: 4em;
    //    padding-top: .5em;
    height: auto;
  }

  .small {
    width: 5em;
  }

  .medium {
    width: 8em;
  }
}

.mat-form-field-flex {
  .mat-form-field-infix {
    padding-top: .5em;
  }
}
.mat-form-field.no-hint {
  .mat-form-field-wrapper{
    padding-bottom: 0;
  }
}
