<input-label
  (window:click)="hideSearch($event)"
  [(ngModel)]="search_words"
  [formControl]="searchControl"
  (keydown)="searchEntered($event)"
  (focus)="showSearch()">
  Buscar por descripción
</input-label>

<div class="search-list"
     [hidden]="searchHidden || !search_words.length">
  <table>
    <tr *ngFor="let element of elementSuggestions; let i=index"
        (mousedown)="emitElement(element)"
        [ngClass]="{selected:searchIndexSelection == i}"
    >
      <td *ngFor="let field of element.searchFields">{{field}}</td>
    </tr>
    <tr class="empty" *ngIf="!elementSuggestions.length && !searching">
      <td>No hay resultados</td>
    </tr>
    <tr class="searching" *ngIf="searching">
      <td><i class="fa fa-spinner fa-spin"></i> Buscando</td>
    </tr>
  </table>
</div>
