<modal>
  <modal-header [show-close]="true">
    <h4 *ngIf="updateMode"> Modificar Inventario </h4>
  </modal-header>
  <form (ngSubmit)="submit()" ngNativeValidate>
    <modal-body *ngIf="!deleteMode && inventory">
      Tipo de movimiento:
      <ng-select [items]="inventoryMovementTypes"
                 (data)="inventoryMovementType = $event"
                 placeholder="Seleccione tipo de movimiento">
      </ng-select>

      <div *ngIf="willIncrease()" >
        Este tipo de movimiento aumentará el inventario,
        introduzca la cantidad que desea incrementar
      </div>
      <div *ngIf="willDecrease()" >
        Este tipo de movimiento disminuirá el inventario,
        introduzca la cantidad que desea disminuir
      </div>
      <div *ngIf="willAdjust()" >
        Este tipo de movimiento disminuirá o aumentará el inventario,
        introduzca la cantidad que desea disminuir o aumentar.
      </div>
      <div *ngIf="willTranslate()" >
        Este tipo de movimiento disminuirá la cantidad del inventario de la
        surcursal actual y lo agregará a la sucursal seleccionada
        Introduzca la cantidad que desea disminuir.
      </div>

      <hr/>

      <div *ngIf="inventoryMovementType.id">
        <input-label type="number" [(ngModel)]="quantity"
                     name="quantity" [required]="true"
                     [min]="min()" [max]="max()">
          Cantidad a
          <span *ngIf="willDecrease() || willTranslate()">diminuir</span>
          <span *ngIf="willIncrease()">aumentar</span>
          <span *ngIf="willAdjust()">disminuir o aumentar</span>
        </input-label>
        <br/>
        <ng-select *ngIf="willTranslate()"
                   [items]="branchesMapped"
                   (data)="destiny_branch_id = $event.id"
                   placeholder="Seleccione la sucursal de destino">
        </ng-select>

        <hr/>
        Cantidad de producto actual: {{inventory.quantity}}
        <br/>
        Cantidad de producto despúés del movimiento:
        <span *ngIf="willDecrease() || willTranslate()">
          {{ (inventory.quantity) - (quantity-0)}}
        </span>
        <span *ngIf="willIncrease() || willAdjust()">
          {{ (inventory.quantity) + (quantity-0)}}
        </span>
      </div>

    </modal-body>
    <modal-footer>
      <button *ngIf="updateMode" type="submit"
              class="btn btn-success">
        Actualizar Inventario
      </button>

      <button type="button" class="btn btn-primary"
              (click)="close()">
        Cerrar
      </button>
    </modal-footer>
  </form>
</modal>

