table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;

  td,th{
    padding: .5em;
    &.align-right{
      text-align: right;
    }
  }

  tr{
    td{
      background-color: #082B36;
    }
    &:hover td{
      background-color: #06495E ;
    }
  }

  thead{
    tr{
      color: #fff;
      td{
        border: 2px #082B36 solid;
        text-align: center;
      }
    }
  }

  tbody{
    color: white;

    tr{
      border-radius: 5px;
      position: relative;

      td:first-child{
        border-top-left-radius: .5em;
        border-bottom-left-radius: .5em;
      }

      td:last-child{
        border-top-right-radius: .5em;
        border-bottom-right-radius: .5em;
        position: relative;
      }

      td{
        border: 1px white solid;
        padding-left: 3px;
        input{
          width: 5em;
          color: black;
        }
      }
    }


    .button-delete {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      right: -.5em;
      top: -.5em;

      height: 1.3em;
      width: 1.3em;

      border: 2px white solid;
      border-radius: 50%;
      transition: all .25s;
      background-color: #DF0101;
      &:hover{
        transform: scale(1.75, 1.75);
        background-color: red;
      }

      i{
        margin-bottom: 0.1em;
      }
    }
  }
}
