<md-dialog-content>
  <md-card>
    <h4 md-dialog-title>
      Roles
    </h4>
    <md-select [(ngModel)]="selectedRoles"
               [multiple]="true"
               name="selectedRoles"
               placeholder="Roles">
      <md-option *ngFor="let role of roles" [value]="role">
        {{role.display_name}}
      </md-option>
    </md-select>
    <button (click)="updateSystemRoles()"
            *appUserCan="'user-role-assign'"
            md-raised-button color="accent">
      Guardar cambios
    </button>
    <button type="button" md-raised-button (click)="close()">
      Cerrar
    </button>
  </md-card>
  <md-card>
    <h4 md-dialog-title>
      Roles de sucursal
    </h4>

    <div *ngFor="let branch of branches; let i=index" class="branch-roles">
      <md-select [(ngModel)]="selectedBranchRoles[i]"
                 [multiple]="true"
                 name="selectedRoles"
                 [placeholder]="branch.name ">
        <md-option *ngFor="let branchRole of branchRoles" [value]="branchRole">
          {{branchRole.display_name}}
        </md-option>
      </md-select>
    </div>

    <button (click)="updateBranchRoles()" md-raised-button color="accent">
      Guardar cambios
    </button>
    <button type="button" md-raised-button (click)="close()">
      Cerrar
    </button>
  </md-card>
</md-dialog-content>
