<h2> Iniciar Compra </h2>

<form (submit)="start()" ngNativeValidate>
  <label>
    Sucursal
  </label>
  <ng-select class="dark"
             [items]="branchesItems"
             (data)="formData.branch = $event.id"
             placeholder="Sucursal">
  </ng-select>
  <label>
    Proveedor
  </label>
  <ng-select class="dark"
             [items]="suppliersItems"
             (data)="formData.supplier = $event.id"
             placeholder="Proveedor">
  </ng-select>

  <input-label [(ngModel)]="formData.introducedAmount" name="amount"
               class="dark" type="number" min="0"
               [step]="0.01"  required="required" >
    Total
  </input-label>

  <input-label [(ngModel)]="formData.supplierBillID" name="supplierBillID"
               required="required"  class="dark">
    Número de factura
  </input-label>
  <button type="submit"
          class="btn btn-primary">
    Iniciar Compra
  </button>
</form>


